<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Your_Icon" x="0px" y="0px" viewBox="5.0 -10.0 100.0 135.0" enable-background="new 0 0 100 100" xml:space="preserve">
<g display="none">
	<g display="inline">
		<g>
		</g>
	</g>
	<g display="inline">
	</g>
</g>
<polygon fill="rgb({{flowRGB[0]}}, {{flowRGB[1]}}, {{flowRGB[2]}})" points="30.684,24.318 11.364,5 5,11.364 24.318,30.684 14,41.001 41.001,41.001 41.001,14 "/>
<polygon fill="rgb({{flowRGB[0]}}, {{flowRGB[1]}}, {{flowRGB[2]}})" points="41.001,59.003 14,59.003 24.318,69.32 5,88.64 11.364,95.004 30.683,75.686 41.001,86.004 "/>
<polygon fill="rgb({{flowRGB[0]}}, {{flowRGB[1]}}, {{flowRGB[2]}})" points="95.004,88.64 75.686,69.321 86.004,59.003 59.003,59.003 59.003,86.004 69.321,75.686 88.64,95.004   "/>
<polygon fill="rgb({{flowRGB[0]}}, {{flowRGB[1]}}, {{flowRGB[2]}})" points="95.004,11.364 88.64,5 69.32,24.318 59.003,14 59.003,41.001 86.004,41.001 75.686,30.684 "/>
</svg>
