<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   enable-background="new 0 0 30 30"
   height="30px"
   id="Facebook"
   version="1.1"
   viewBox="0 0 30 30"
   width="30px"
   xml:space="preserve"
   inkscape:version="0.91 r13725"
   sodipodi:docname="facebook.svg"><metadata
     id="metadata10"><rdf:RDF><cc:Work
         rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" /></cc:Work></rdf:RDF></metadata><defs
     id="defs8" /><sodipodi:namedview
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1"
     objecttolerance="10"
     gridtolerance="10"
     guidetolerance="10"
     inkscape:pageopacity="0"
     inkscape:pageshadow="2"
     inkscape:window-width="640"
     inkscape:window-height="480"
     id="namedview6"
     showgrid="false"
     inkscape:zoom="7.8666667"
     inkscape:cx="15"
     inkscape:cy="15"
     inkscape:window-x="3151"
     inkscape:window-y="115"
     inkscape:window-maximized="0"
     inkscape:current-layer="Facebook" /><g
     id="g3"
     style="fill:#ffffff; cursor: pointer"><path
       d="M22,16l1-5l-5,0.001V7c0-1.544,0.784-2,3-2h2V0c0,0-2.05,0-4,0c-4.072,0-7,2.435-7,7v4l-5,0v5h5v14h6V16H22z"
       id="f"
       style="fill:#ffffff; cursor: pointer" /></g></svg>
