<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   enable-background="new 0 0 30 30"
   height="30px"
   id="g_x2B_"
   version="1.1"
   viewBox="0 0 30 30"
   width="30px"
   xml:space="preserve"
   inkscape:version="0.91 r13725"
   sodipodi:docname="googleplus.svg"><metadata
     id="metadata9"><rdf:RDF><cc:Work
         rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" /></cc:Work></rdf:RDF></metadata><defs
     id="defs7" /><sodipodi:namedview
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1"
     objecttolerance="10"
     gridtolerance="10"
     guidetolerance="10"
     inkscape:pageopacity="0"
     inkscape:pageshadow="2"
     inkscape:window-width="640"
     inkscape:window-height="480"
     id="namedview5"
     showgrid="false"
     inkscape:zoom="7.8666667"
     inkscape:cx="15"
     inkscape:cy="15"
     inkscape:window-x="2253"
     inkscape:window-y="127"
     inkscape:window-maximized="0"
     inkscape:current-layer="g_x2B_" /><polygon
     id="_x2B_"
     points="30,13 26,13 26,9 24,9 24,13 20,13 20,15 24,15 24,19 26,19 26,15 30,15 "
     style="fill:#ffffff; cursor: pointer" /><path
     d="M15,17c0,0-2-1.15-2-2c0,0-0.499-1.828,1-3c1.537-1.2,3-3.035,3-5c0-2.336-1.046-5-3-6h3l2.387-1  c0,0-7.063,0-9.387,0C5.835,0,2,3.345,2,7c0,3.735,2.849,6.56,7.086,6.56c0.295,0,0.581-0.006,0.861-0.025  c-0.274,0.526-0.472,1.119-0.472,1.735c0,1.037,0.818,2.042,1.524,2.73c-0.533,0-1.438,0-2,0c-5.159,0-9,2.593-9,6  c0,3.355,4.872,6,10.031,6c5.882,0,9.97-3,9.97-7C20,20.311,17.455,18.736,15,17z M11,13c-2.395,0-5.587-2.857-6-6  C4.587,3.856,6.607,0.929,9,1c2.394,0.071,4.603,2.908,5.017,6.052C14.429,10.195,13,13,11,13z M10,28c-3.566,0-7-1.289-7-4  c0-2.658,3.434-5.038,7-5c0.832,0.009,2,0,2,0c1,0,2.88,0.881,4,2c1,1,1,2.674,1,3C17,27,15.014,28,10,28z"
     id="g"
     style="fill:#ffffff; cursor: pointer" /></svg>
