<!-- background (starfield) -->
<fa-modifier fa-translate="[0, 0, -22220]"
    fa-size="[undefined, undefined]"
    fa-origin="[.5, .5]" fa-align="[.5, .5]"
    fa-scale="[25, 30]">
    <!-- fa-proportions="[25, 25]" -->\
  <fa-surface fa-background-color="'#000000'"
      fa-options="mediaItemsBackgroundSurfaceOptions">
  </fa-surface>
</fa-modifier>
