<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   id="svg3835"
   version="1.1"
   inkscape:version="0.91 r13725"
   xml:space="preserve"

   viewBox="0 0 50 45"
   sodipodi:docname="keyhole.svg"><metadata
     id="metadata3841"><rdf:RDF><cc:Work
         rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" /><dc:title></dc:title></cc:Work></rdf:RDF></metadata><defs
     id="defs3839"><clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath3851"><path
         d="m 0,8.03906 400,0 0,350 -400,0 0,-350 z"
         id="path3853"
         inkscape:connector-curvature="0" /></clipPath></defs>
    <sodipodi:namedview
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1"
     objecttolerance="10"
     gridtolerance="10"
     guidetolerance="10"
     inkscape:pageopacity="0"
     inkscape:pageshadow="2"
     inkscape:window-width="640"
     inkscape:window-height="480"
     id="namedview3837"
     showgrid="false"
     inkscape:zoom="5.2444444"
     inkscape:cx="25"
     inkscape:cy="22.5"
     inkscape:window-x="79"
     inkscape:window-y="79"
     inkscape:window-maximized="0"
     inkscape:current-layer="g3843" /><g
     id="g3843"
     inkscape:groupmode="layer"
     inkscape:label="ink_ext_XXXXXX"
     transform="matrix(1.25,0,0,-1.25,0,45)"><g
       id="g3845"
       transform="scale(0.1,0.1)"><g
         id="g3847"><g
           id="g3849"
           clip-path="url(#clipPath3851)">
           <path id="keyhole"
             d="m 290.352,358.039 c -34.332,0 -66.403,-16.867 -85.782,-45.078 l -7.109,-10.352 -7.109,10.352 c -19.411,28.211 -51.481,45.078 -85.821,45.078 C 46.9102,358.039 0,311.129 0,253.469 0,193.27 98.3203,91.6289 190.352,16.5898 l 7.109,-6.60152 6.641,6.21092 c 92.5,75.1602 190.777,176.6798 190.777,237.2698 0,57.66 -46.867,104.57 -104.527,104.57 z M 155.039,97.3008 l 25.27,91.3712 c -15.618,6.277 -26.637,21.598 -26.637,39.488 0,23.512 19.058,42.578 42.578,42.578 23.48,0 42.539,-19.066 42.539,-42.578 0,-16.019 -8.828,-29.961 -21.879,-37.23 l 24.34,-93.6292 -86.211,0 z"
             style="fill:rgb({{flowRGB[0]}}, {{flowRGB[1]}}, {{flowRGB[2]}});fill-opacity:1;fill-rule:nonzero;stroke:none; width:100px; height:100px;"

             inkscape:connector-curvature="0" /></g></g></g></g></svg>
