<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="play_fill_circle_outline" x="0px" y="0px" width="100px" height="100px" viewBox="5.0 -10.0 100.0 135.0" enable-background="new 0 0 100 100" xml:space="preserve">
<path d="M50,100C22.43,100,0,77.57,0,50S22.43,0,50,0s50,22.43,50,50S77.57,100,50,100z M50,4C24.636,4,4,24.636,4,50  s20.636,46,46,46s46-20.636,46-46S75.364,4,50,4z"/>
<polygon points="39,26.376 39,73.623 71.232,50 "/>
</svg>
