<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   viewBox="0 0 58.252984 24.933999"
   id="svg3436"
   version="1.1"
   inkscape:version="0.91 r13725"
   sodipodi:docname="rocket_horizontal.svg">
  <defs
     id="defs3438" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="10.918995"
     inkscape:cx="30.964716"
     inkscape:cy="10.640999"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     fit-margin-top="0"
     fit-margin-left="0"
     fit-margin-right="0"
     fit-margin-bottom="0"
     inkscape:window-width="1097"
     inkscape:window-height="748"
     inkscape:window-x="475"
     inkscape:window-y="240"
     inkscape:window-maximized="0" />
  <metadata
     id="metadata3441">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(-11.412883,-1013.6383)">
    <path
       inkscape:connector-curvature="0"
       d="m 54.774091,1019.7813 c -3.922991,-1.0442 -8.431204,-1.7924 -13.293689,-1.7914 -3.108778,10e-4 -5.869882,0.2613 -8.292985,0.6694 l -7.297327,-5.021 -14.472777,0.01 6.250076,6.6516 9.085614,0 c -4.926179,1.719 -7.270487,3.7804 -7.270487,3.7804 l 3.2e-5,4.0622 c 0,0 2.488854,2.0571 7.454848,3.7837 l -9.27447,-0.01 -6.250045,6.6561 14.471833,0 7.331867,-5.047 c 2.43176,0.4275 5.18756,0.6953 8.261757,0.6964 4.8646,-10e-4 9.370594,-0.7494 13.294688,-1.7924 -1.264401,-1.9103 -2.059208,-4.0267 -2.062541,-6.3212 3.4e-5,-2.3011 0.793761,-4.422 2.061446,-6.3289 z m 3.682128,1.1123 c -1.381005,1.7265 -2.117413,3.4953 -2.113221,5.2057 -0.01,1.7179 0.727816,3.4834 2.116504,5.2134 6.882748,-2.3259 11.206365,-5.2069 11.206365,-5.2069 0,0 -4.32252,-2.882 -11.209648,-5.2122 z"
       style="fill:rgb({{flowRGB[0]}}, {{flowRGB[1]}}, {{flowRGB[2]}});fill-opacity:1;fill-rule:nonzero;stroke:none;" />
  </g>
</svg>
