<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"

   viewBox="0 0 49.999998 50.004601"
   id="svg3436"
   version="1.1"
   inkscape:version="0.91 r13725"
   sodipodi:docname="rocket.svg">
  <defs
     id="defs3438" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="4.8260038"
     inkscape:cx="74.789004"
     inkscape:cy="11.289704"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     fit-margin-top="0"
     fit-margin-left="0"
     fit-margin-right="0"
     fit-margin-bottom="0"
     inkscape:window-width="1097"
     inkscape:window-height="748"
     inkscape:window-x="738"
     inkscape:window-y="365"
     inkscape:window-maximized="0" />
  <metadata
     id="metadata3441">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(-13.714259,-1002.929)">
    <path
       inkscape:connector-curvature="0"
       d="m 48.7121,1008.987 c -3.512334,2.0356 -7.229228,4.6943 -10.666799,8.1333 -2.197468,2.199 -3.965843,4.3354 -5.390632,6.3374 l -8.710418,1.6096 -10.229992,10.2376 9.12281,0.2839 6.424516,-6.4245 c -2.267738,4.6989 -2.467805,7.8142 -2.467805,7.8142 l 2.873994,2.8709 c 0,0 3.214504,-0.3054 7.946872,-2.596 l -6.561881,6.5543 0.287135,9.1259 10.234582,-10.2315 1.615676,-8.7533 c 2.021816,-1.4171 4.159805,-3.1764 6.33437,-5.3494 3.439036,-3.4405 6.096115,-7.1559 8.133314,-10.6682 -2.244835,-0.4567 -4.303373,-1.3912 -5.928132,-3.0114 -1.624904,-1.6294 -2.565567,-3.688 -3.01761,-5.9328 z m 3.390154,-1.8172 c 0.244358,2.1974 0.974308,3.9688 2.186724,5.1753 1.209535,1.22 2.977812,1.9485 5.182995,2.1898 3.222173,-6.5115 4.242286,-11.6059 4.242286,-11.6059 0,0 -5.094366,1.0186 -11.612005,4.2408 z"
       style="fill:rgb({{flowRGB[0]}}, {{flowRGB[1]}}, {{flowRGB[2]}});fill-opacity:1;fill-rule:nonzero;stroke:none;" />
  </g>
</svg>
