<fa-app class="full-screen" fa-perspective="1000" fa-pipe-to="resizeEventHandler">

  <ng-include src="'partials/includes/starfield.html'"></ng-include>
  <!-- <fa-surface fa-options="mediaItemsBackgroundSurfaceOptions">
  </fa-surface> -->

  <fa-flexible-layout fa-options="{direction:1, ratios:[1, 1, 1]}">
    <fa-modifier
        fa-origin="[.5, 0]"
        fa-align="[.5, 0]"
        fa-proportions="[1, .9]"
        fa-translate="animationTimelines.headerTranslation( animationTransition )">
      <fa-surface
          fa-properties="{textAlign:'center'}">

        <span id="title">likes.play</span>
        <br>
        <span id="slogan">Define yourself by what you love.</span>

      </fa-surface>
    </fa-modifier>

    <fa-modifier>
      <fa-modifier
          fa-origin="[.5, .5]"
          fa-align="[.52, .5]">
          <!-- animationTimelines.diceZRotation( animationTransition ) -->
        <fa-modifier fa-size="[180, undefined]"
            fa-rotate-z="animationTimelines.diceZRotation( animationTransition )"
            fa-translate="animationTimelines.diceTranslation( animationTransition )"
            fa-opacity="animationTimelines.diceOpacity( animationTransition )"
            fa-transform-order="['translate', 'rotateZ', 'opacity']">
          <fa-surface
              fa-properties="{textAlign:'center', cursor:'pointer'}"
              ng-click="playExitAnimationAndNavigateToRoots()">

            <ng-include src="'partials/includes/svglikecube.html'"></ng-include>

          </fa-surface>
        </fa-modifier>
      </fa-modifier>
    </fa-modifier>
    <!-- <fa-modifier>
      <fa-modifier
          fa-origin="[.5, .5]"
          fa-align="[.5, .5]"
          fa-proportions="[.3, .8]">
        <fa-image-surface
            fa-background-color="'red'"
            fa-properties="{textAlign:'center'}"
            fa-image-url="img/like_cube.svg">

        </fa-surface>
      </fa-modifier>
    </fa-modifier> -->

    <fa-modifier>
      <fa-surface>
        <div>
          <span id="sociallinks">
            <a href="https://plus.google.com/100103202668802897959" rel="publisher"><img src="img/socialnetworkicons/googleplus-120.png" /></a>
            <br>
            <a href="https://instagram.com/likes.play"><img src="img/socialnetworkicons/instagram-120.png" /></a>
            <br>
            <a href="https://www.facebook.com/likesplay"><img src="img/socialnetworkicons/facebook-120.png" /></a>
            <br>
            <a href="https://twitter.com/GameOfLikes"><img src="img/socialnetworkicons/twitter-120.png" /></a>
            <br>
            <a href="https://vine.co/u/1183946451542556672"><img src="img/socialnetworkicons/vine-120.png" /></a>
            <br>
            <a href="http://likesplay.tumblr.com/"><img src="img/socialnetworkicons/tumblr-120.png" /></a>
          </span>
        </div>
        <div>
          <span id="contact">likesplay@nemur.net</span>
        </div>
      </fa-surface>
      <fa-modifier
          fa-origin="[.5, 1]"
          fa-align="[.5, 1]"
          fa-proportions="[videoXProportions, 1]"
          fa-rotate-x="animationTimelines.footerXRotation( animationTransition )">
        <fa-surface fa-properties="{textAlign:'center'}">

          <div style="margin-top:2em">
            <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='http://www.youtube.com/embed/mr1huwfN1vg' frameborder='0' allowfullscreen></iframe></div>
          </div>

        </fa-surface>
      </fa-modifier>
    </fa-modifier>

  </fa-flexible-layout>

</fa-app>

<ng-include src="'partials/includes/feedback.html'"></ng-include>
