<fa-app class="full-screen" fa-perspective="1000">

  <fa-header-footer-layout>


    <!-- header -->
    <fa-modifier fa-size="[undefined, 50]" fa-translate="[0, 0, 2]">
      <fa-surface fa-background-color="'#000'"
                  fa-options="headerOptions">

        likes.play

      </fa-surface>
    </fa-modifier>


    <!-- content -->
    <fa-modifier fa-size="[undefined, undefined]">
      <fa-flexible-layout fa-options="{direction:1, ratios:[2/8, 3.4/8, 1.6/8, 1/8]}">
        <fa-modifier>
          <fa-surface
            fa-background-color="ui.networkColor">
          </fa-surface>
          <fa-modifier
              fa-origin="[.5, .5]"
              fa-align="[.5, .5]"
              fa-proportions="[.3, .8]"
              fa-translate="logoTranslator.get()">
            <fa-image-surface
              fa-image-url="{{ui.logoPath}}"
              fa-properties="{textAlign:'center'}">

            </fa-image-surface>
          </fa-modifier>
        </fa-modifier>
        <fa-grid-layout fa-options="{dimensions:[1,2]}">
          <fa-modifier>
            <fa-surface
              fa-background-color="'lightgray'"
              fa-color="'white'">

            </fa-surface>
            <fa-modifier
                fa-origin="[.5, .5]"
                fa-align="[.5, .5]"
                fa-proportions="[1, .3]">
              <fa-surface
                fa-color="'dimgray'"
                fa-properties="{textAlign:'center', fontSize:'8vh'}">

                {{ui.inputLegend}}

              </fa-surface>
            </fa-modifier>
          </fa-modifier>
          <fa-modifier>
            <fa-surface
              fa-background-color="'gray'"
              fa-color="'white'">
            </fa-surface>
            <fa-modifier
                fa-origin="[.5, .5]"
                fa-align="[.5, .5]"
                fa-proportions="[1, .6]">
              <fa-surface
                fa-color="'white'"
                fa-properties="{textAlign:'center', fontSize:'{{ui.inputFontSize}}'}">


              <ng-include src="ui.inputPartial"></ng-include>


              </fa-surface>
            </fa-modifier>
          </fa-modifier>
        </fa-grid-layout>
        <fa-modifier>
          <fa-surface
            fa-background-color="'#ddf0f9'">
          </fa-surface>
          <fa-modifier
              fa-origin="[.5, .5]"
              fa-align="[.5, .5]">
            <fa-surface
                fa-color="'rgb({{flowRGB[0]}}, {{flowRGB[1]}}, {{flowRGB[2]}})'"
                fa-properties="{textAlign:'center', fontSize:'13vh', cursor:'pointer'}"
                ng-click="addUserHandle()">

              &oplus;

            </fa-surface>
          </fa-modifier>
        </fa-modifier>
        <fa-modifier>
          <fa-surface
            fa-background-color="'dimgray'"
            fa-color="'white'">

          </fa-surface>
          <fa-modifier
              fa-origin="[.5, .5]"
              fa-align="[.5, .5]"
              fa-proportions="[1, .4]">
            <fa-surface
              fa-color="'lightgray'"
              fa-properties="{textAlign:'center', fontSize:'5vh', cursor:'pointer'}"
              ng-click="navigateToRoots()">

              &#9668; cancel

            </fa-surface>
          </fa-modifier>
        </fa-modifier>
      </fa-flexible-layout>
    </fa-modifier>

  </fa-header-footer-layout>

</fa-app>
