<fa-app class="full-screen" fa-perspective="1000">

  <ng-include src="'partials/includes/starfield.html'"></ng-include>
  <!-- <fa-surface fa-options="mediaItemsBackgroundSurfaceOptions">
  </fa-surface> -->


  <!-- <fa-header-footer-layout> -->


    <!-- header -->
    <!-- <fa-modifier fa-size="[undefined, 50]" fa-translate="[0, 0, 2]">
      <fa-surface fa-background-color="'#000'"
                  fa-options="headerOptions">

        likes.play

      </fa-surface>
    </fa-modifier> -->


    <!-- content -->
    <fa-modifier fa-translate="config.entryTransition.get()" >
    <fa-modifier
        fa-origin="[.5, .5]"
        fa-align="[.5, .5]"
        fa-translate="rootsScrollTimelines.translate(config.scrollViewTransition, scrollOffset)"
        fa-rotate-x="rootsScrollTimelines.rotateX(config.scrollViewTransition)"
        fa-opacity="rootsScrollTimelines.opacity(config.scrollViewTransition)"
        fa-transform-order="['translate', 'rotateX', 'opacity']">

      <fa-scroll-view id="rootsScroll" fa-pipe-from="scrollViewEventHandler"
          fa-size="[undefined, undefined]">


        <!-- intro header - gray shades based on http://www.color-hex.com/color/d3d3d3 -->

        <fa-sequential-layout fa-index="-1">
          <fa-view>
            <fa-modifier ng-if="userHandles.length"
                fa-size="[100, 130]" fa-align="[.5, 0]" fa-origin="[.5, 0]">
              <fa-surface
                  fa-pipe-to="scrollViewEventHandler"
                  fa-properties="{paddingTop:'1.2em', cursor:'pointer'}"
                  ng-click="playExitAnimationAndNavigateToBreeding()">

                <ng-include src="'partials/includes/svgrocket.html'"></ng-include>

              </fa-surface>
            </fa-modifier>
          </fa-view>
          <fa-view>
            <fa-modifier ng-if="!userHandles.length" fa-size="[undefined, 50]">
              <fa-surface fa-background-color="'white'" fa-color="'black'"
                  fa-options="subHead1" fa-pipe-to="scrollViewEventHandler">
                <em>Define yourself by what you love</em>
              </fa-surface>
            </fa-modifier>
          </fa-view>

          <fa-view>
            <fa-modifier ng-if="!userHandles.length" fa-size="[undefined, 50]">
              <fa-surface fa-background-color="'#696969'" fa-color="'white'"
                  fa-options="subHead2" fa-pipe-to="scrollViewEventHandler">
                Create avatars from your social media
              </fa-surface>
            </fa-modifier>
          </fa-view>
          <fa-view>
            <fa-modifier ng-if="!userHandles.length" fa-size="[undefined, 50]">
              <fa-surface fa-background-color="'#2a2a2a'" fa-color="'white'"
                  fa-options="subHead3" fa-pipe-to="scrollViewEventHandler">
                Simply add your accounts
              </fa-surface>
            </fa-modifier>
          </fa-view>
          <fa-modifier fa-size="[undefined, 100]">
          <fa-grid-layout fa-options="{dimensions:[3,1]}">
            <fa-modifier>
              <fa-surface
                fa-background-color="'#517fa4'"
                fa-pipe-to="scrollViewEventHandler">
              </fa-surface>
              <fa-modifier
                  fa-origin="[.5, .5]"
                  fa-align="[.5, .5]"
                  fa-proportions="[.8, .8]">
                <fa-image-surface
                  fa-image-url="img/instagram_white.svg"
                  fa-properties="{textAlign:'center', cursor:'pointer'}"
                  fa-pipe-to="scrollViewEventHandler"
                  ng-click="navigateToInstagramRegistration()">
                </fa-image-surface>
              </fa-modifier>
            </fa-modifier>
            <fa-modifier>
              <fa-surface
                fa-background-color="'#3b5998'"
                fa-pipe-to="scrollViewEventHandler">
              </fa-surface>
              <fa-modifier
                  fa-origin="[.5, .5]"
                  fa-align="[.5, .5]"
                  fa-proportions="[.8, .8]">
                <fa-image-surface
                  fa-image-url="img/facebook_white.svg"
                  fa-properties="{textAlign:'center', cursor:'pointer'}"
                  fa-pipe-to="scrollViewEventHandler"
                  ng-click="navigateToFacebookRegistration()">
                </fa-image-surface>
              </fa-modifier>
            </fa-modifier>
            <fa-modifier>
              <fa-surface
                fa-background-color="'#32506d'"
                fa-pipe-to="scrollViewEventHandler">
              </fa-surface>
              <fa-modifier
                  fa-origin="[.5, .5]"
                  fa-align="[.5, .5]"
                  fa-proportions="[.8, .8]">
                <fa-image-surface
                  fa-image-url="img/tumblr_white.svg"
                  fa-properties="{textAlign:'center', cursor:'pointer'}"
                  fa-pipe-to="scrollViewEventHandler"
                  ng-click="navigateToTumblrRegistration()">
                </fa-image-surface>
              </fa-modifier>
            </fa-modifier>
          </fa-grid-layout>
          </fa-modifier>
        </fa-sequential-layout>



        <!-- social network user handles -->
        <fa-view ng-repeat="oneHandle in userHandles">
          <fa-sequential-layout>
            <fa-modifier fa-size="[undefined, 5]">
              <fa-surface
                fa-background-color="'dimgray'"
                fa-pipe-to="scrollViewEventHandler">
              </fa-surface>
            </fa-modifier>
            <fa-modifier fa-size="[undefined, 80]">


              <fa-grid-layout fa-options="{dimensions:[1,2]}">

                <fa-flexible-layout fa-options="siteCellLayout">
                  <fa-surface fa-background-color="oneHandle.colour"
                      fa-pipe-to="scrollViewEventHandler"
                      fa-options="userHandleLegendOptions">

                    {{oneHandle.network}}:

                  </fa-surface>
                  <fa-surface fa-background-color="oneHandle.colour"
                      fa-pipe-to="scrollViewEventHandler"
                      fa-options="userHandleMetaTopOptions">

                    {{oneHandle.count ? 'collected media items:' : ''}}

                  </fa-surface>
                  <fa-surface fa-background-color="oneHandle.colour"
                      fa-pipe-to="scrollViewEventHandler"
                      fa-options="userHandleDeleteOptions"
                      ng-click="refreshAccount( oneHandle )">

                    <!-- &#x21BA; -->
                    <!-- &#x21BB; -->
                    &#x27F3;

                  </fa-surface>
                </fa-flexible-layout>

                <fa-flexible-layout fa-options="siteCellLayout">
                  <fa-surface fa-background-color="oneHandle.colour"
                      fa-pipe-to="scrollViewEventHandler"
                      fa-options="userHandleNameOptions">

                    {{oneHandle.user}}

                  </fa-surface>
                  <fa-surface fa-background-color="oneHandle.colour"
                      fa-pipe-to="scrollViewEventHandler"
                      fa-options="userHandleMetaBottomOptions">

                    {{oneHandle.count ? oneHandle.count : ''}}

                  </fa-surface>
                  <fa-surface fa-background-color="oneHandle.colour"
                      fa-pipe-to="scrollViewEventHandler"
                      fa-options="userHandleDeleteOptions"
                      ng-click="removeNetworkAccountAndClearItsData( oneHandle )">

                    &otimes;

                  </fa-surface>
                </fa-flexible-layout>

              </fa-grid-layout>


            </fa-modifier>
          </fa-sequential-layout>
        </fa-view>


        <!-- social network user handles input fields -->

        <!-- <fa-view ng-repeat="oneNet in socialNetworks" fa-index="oneNet.faIndex">
          <fa-modifier fa-size="[undefined, 80]">
            <fa-flexible-layout fa-options="siteCellLayout">

              <fa-surface fa-background-color="oneNet.backgroundColor"
                  fa-pipe-to="scrollViewEventHandler"
                  fa-size="[120, undefined]"
                  fa-options="siteCellSurfaceLegendOptions">
                <label for="oneNet.inputId">{{oneNet.label}}</label>
              </fa-surface>
              <fa-surface fa-background-color="oneNet.backgroundColor"
                  fa-pipe-to="scrollViewEventHandler"
                  fa-options="siteCellSurfaceInputOptions">
                <input ng-model="oneNet.formData" id="oneNet.inputId"
                  placeholder="{{oneNet.placeholder}}" type="text" {{oneNet.disabled}}>
              </fa-surface>

            </fa-flexible-layout>
          </fa-modifier>
        </fa-view> -->


        <fa-view fa-index="99990" ng-if="userHandles.length">
          <fa-modifier fa-size="[undefined, 40]">
            <fa-surface fa-pipe-to="scrollViewEventHandler">
            </fa-surface>
          </fa-modifier>
        </fa-view>

        <!-- <fa-view fa-index="99991" ng-if="userHandles.length">
          <fa-modifier fa-size="[undefined, 50]">
            <fa-surface
                fa-background-color="'dimgray'"
                fa-color="'lightgray'"
                fa-pipe-to="scrollViewEventHandler"
                fa-options="subHead3"
                fa-properties="{cursor:'pointer'}"
                ng-click="refreshMediaItems()">

              Refresh

            </fa-surface>
          </fa-modifier>
        </fa-view> -->


      </fa-scroll-view>

    </fa-modifier>
    </fa-modifier>



    <!-- footer -->
    <!-- <fa-modifier fa-size="[undefined, 50]" fa-translate="[0, 0, 2]">
      <fa-flexible-layout fa-options="buttonGridLayoutOptions">

        <fa-surface fa-background-color="'rgba(0, 0, 0, .7)'"
            fa-options="footerLeftOptions">


        </fa-surface>

        <fa-surface
            fa-background-color="'#ddf0f9'"
            fa-size="[110, undefined]"
            ng-click="saveUserHandles()"
            fa-tap="saveUserHandles()"
            fa-options="{properties:{textAlign:'center', paddingTop:'2px'}}">

          <ng-include src="'partials/includes/svgrocket_horizontal.html'"></ng-include>

        </fa-image-surface>

      </fa-flexible-layout>
    </fa-modifier> -->


  <!-- </fa-header-footer-layout> -->

</fa-app>

<!--

<h2>Roots</h2>

<p><em>Define yourself by what you love.</em></p>

<p>Simply enter <em>your username</em> on the social media sites you would like to use - use a comma between usernames if more than one on each site:</p>


<label for="username-tumblr">Tumblr</label>
<input ng-model="formData.tumblr" id="username-tumblr">
<br><br>
<label for="username-weheartit">We Heart It</label>
<input ng-model="formData.weheartit" id="username-weheartit" disabled>
<br><br>
<label for="username-soundcloud">SoundCloud</label>
<input ng-model="formData.soundcloud" id="username-soundcloud" disabled>



<br><br>
<button ng-click="saveUserHandles()">Start breeding!</button>

<br><br><br><br><br>

<button ng-click="clearSavedData()">Clear saved data</button>
-->

<!-- <ng-include src="'partials/includes/feedback.html'"></ng-include> -->
