<fa-app class="full-screen">

  <fa-scroll-view fa-pipe-from="scrollViewEventHandler" >

    <fa-view>
      <fa-modifier fa-size="[undefined, scrollSectionHeight]">
        <fa-surface fa-background-color="'#696969'" fa-color="'white'"
            fa-properties="{textAlign: 'center', paddingTop: scrollSectionHeight*.2+'px', fontSize: '22px'}"
            fa-pipe-to="scrollViewEventHandler"
            ng-hide="authData">

            &boxbox;  log in to communicate in cubes  &boxbox;
            <div style="margin-bottom: {{scrollSectionHeight*.14}}px;"></div>
            &#9660;

        </fa-surface>
        <fa-surface fa-background-color="'#545454'" fa-color="'white'"
            fa-properties="{textAlign: 'center', paddingTop: scrollSectionHeight*.2+'px', fontSize: '22px'}"
            fa-pipe-to="scrollViewEventHandler"
            ng-show="authData">

            Welcome
            <span ng-if="authData.provider == 'facebook'">
              {{ authData.facebook.displayName }}
            </span>
            <span ng-if="authData.provider == 'google'">
              {{ authData.google.displayName }}
            </span>
            <span ng-if="authData.provider == 'twitter'">
              {{ authData.twitter.displayName }}
            </span>

        </fa-surface>
      </fa-modifier>
    </fa-view>

    <fa-view>
      <fa-modifier
          fa-size="[undefined, scrollSectionHeight]">
        <fa-surface fa-background-color="'#3b5998'"
                    fa-pipe-to="scrollViewEventHandler"
                    fa-color="'white'"
                    fa-properties="{textAlign: 'center', paddingTop: scrollSectionHeight*.2+'px', fontSize: '22px', cursor: 'pointer'}"
                    ng-click="authenticateWithFacebook()"
                    fa-tap="authenticateWithFacebook()"
                    ng-hide="authData">

          &#x1F511; sign in with Facebook
          <div style="margin-bottom: {{scrollSectionHeight*.14}}px;"></div>
          <ng-include src="'partials/includes/facebook.html'"></ng-include>

        </fa-surface>
        <fa-surface fa-background-color="'#696969'" fa-color="'white'"
            fa-properties="{textAlign: 'center', paddingTop: scrollSectionHeight*.2+'px', fontSize: '22px', cursor: 'pointer'}"
            fa-pipe-to="scrollViewEventHandler"
            ng-click="navigateToCorral()"
            fa-tap="navigateToCorral()"
            ng-show="authData">

            See the cubes you and others created in the corral &#9658;

        </fa-surface>
      </fa-modifier>
    </fa-view>

    <fa-view>
      <fa-modifier
          fa-size="[undefined, scrollSectionHeight]">
        <fa-surface fa-background-color="'#dd4b39'"
                    fa-pipe-to="scrollViewEventHandler"
                    fa-color="'white'"
                    fa-properties="{textAlign: 'center', paddingTop: scrollSectionHeight*.2+'px', fontSize: '22px', cursor: 'pointer'}"
                    ng-click="authenticateWithGoogle()"
                    fa-tap="authenticateWithGoogle()"
                    ng-hide="authData">

          &#x1F511; sign in with Google
          <div style="margin-bottom: {{scrollSectionHeight*.14}}px;"></div>
          <ng-include src="'partials/includes/googleplus.html'"></ng-include>

        </fa-surface>
        <fa-surface fa-background-color="'#7e7e7e'" fa-color="'white'"
            fa-properties="{textAlign: 'center', paddingTop: scrollSectionHeight*.2+'px', fontSize: '22px', cursor: 'pointer'}"
            fa-pipe-to="scrollViewEventHandler"
            ng-click="navigateToBreeding()"
            fa-tap="navigateToBreeding()"
            ng-show="authData">

            Create some more cubes &#9658;

        </fa-surface>
      </fa-modifier>
    </fa-view>

    <fa-view>
      <fa-modifier
          fa-size="[undefined, scrollSectionHeight]">
        <fa-surface fa-background-color="'#00aced'"
                    fa-pipe-to="scrollViewEventHandler"
                    fa-color="'white'"
                    fa-properties="{textAlign: 'center', paddingTop: scrollSectionHeight*.2+'px', fontSize: '22px', cursor: 'pointer'}"
                    ng-click="authenticateWithTwitter()"
                    fa-tap="authenticateWithTwitter()"
                    ng-hide="authData">

          &#x1F511; sign in with Twitter
          <div style="margin-bottom: {{scrollSectionHeight*.14}}px;"></div>
          <ng-include src="'partials/includes/twitter.html'"></ng-include>

        </fa-surface>
        <fa-surface fa-background-color="'#939393'" fa-color="'white'"
            fa-properties="{textAlign: 'center', paddingTop: scrollSectionHeight*.2+'px', fontSize: '22px', cursor: 'pointer'}"
            fa-pipe-to="scrollViewEventHandler"
            ng-click="navigateToRoots()"
            fa-tap="navigateToRoots()"
            ng-show="authData">

            Add more social networks to your repertoire &#9658;

        </fa-surface>
      </fa-modifier>
    </fa-view>

    <fa-view>
      <fa-modifier fa-size="[undefined, scrollSectionHeight]">
        <fa-surface fa-background-color="'#a8a8a8'" fa-color="'white'"
            fa-properties="{textAlign: 'center', paddingTop: scrollSectionHeight*.2+'px', fontSize: '22px'}"
            fa-pipe-to="scrollViewEventHandler"
            ng-hide="authData">



        </fa-surface>
        <fa-surface fa-background-color="'#a8a8a8'" fa-color="'white'"
            fa-properties="{textAlign: 'center', paddingTop: scrollSectionHeight*.2+'px', fontSize: '22px', cursor: 'pointer'}"
            fa-pipe-to="scrollViewEventHandler"
            ng-click="logout()"
            fa-tap="logout()"
            ng-show="authData">

            &#9668; Logout

        </fa-surface>
      </fa-modifier>
    </fa-view>

    <fa-view>
      <fa-modifier fa-size="[undefined, scrollSectionHeight]">
        <fa-surface fa-background-color="'#bdbdbd'" fa-color="'white'"
            fa-properties="{textAlign: 'center', paddingTop: scrollSectionHeight*.2+'px', fontSize: '22px'}"
            fa-pipe-to="scrollViewEventHandler"
            ng-hide="authData">



        </fa-surface>
        <fa-surface fa-background-color="'#bdbdbd'" fa-color="'white'"
            fa-properties="{textAlign: 'center', paddingTop: scrollSectionHeight*.2+'px', fontSize: '22px'}"
            fa-pipe-to="scrollViewEventHandler"
            ng-show="authData">


        </fa-surface>
      </fa-modifier>
    </fa-view>

  </fa-scroll-view>

</fa-app>
