@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);

/* app css stylesheet */

div.famous-surface {
  /* -webkit-transform: translate3d(0,0,0) !important; */
  /* -webkit-transform: translateZ(0px) !important; */
  /* transform-style: flat !important; */
}

/* from http://stackoverflow.com/a/29761112/169858 */
.famous-angular-clipping-container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

body {
  margin: 10px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li.hide {
   display: none;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

p.status {
   color: red;
}

p.status.good, p.good {
   color: green;
}

form label {
   display: block;
   margin: 15px 0;
}

form label span {
   display: block;
   font-weight: bold;
}

.error {
   color: red;
}

fieldset {
   float: left;
   margin-right: 25px;
   padding: 25px;
}



/* famous-angular */

.full-screen {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}


/* breeding styles */

.breedpic {
  max-height:200px;
  width:16%;
  display:inline-block;
}
.selected {
  border: 5px solid black;
}
.findsimilar {
  border: 5px solid gold;
}
.breedpic img {
  max-width:99%;
  max-height:200px;
}




/* input field styling, based on http://callmenick.com/2014/04/22/various-css-input-text-styles/ */

@media all and (min-width: 400px) {
  /*input[type="text"] {
    width: 180px;
  }*/
  input[type="text"] {
    width: 60%;
  }
  input.inbox[type="text"] {
    width: 30%;
  }
}
@media all and (max-width: 400px) {
  input[type="text"] {
    width: 70%;
  }
  input.inbox[type="text"] {
    width: 30%;
  }
}

input.roots[type="text"] {
  display: block;
  margin: 0;

  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;

  /* border */
  padding: 10px;
  border: solid 5px #c9c9c9;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}

input.roots[type="text"]:focus {
  outline: none;

  /* border */
  border: solid 5px #969696;
}



/* textarea inside cube  */
.bottlemessageinput {
  font-size: 8px !important;
}


/* TODO: might want to distinguish between cube surfaces and others */
.famous-surface {
  font-size: 2vh;
}


/* front page */


#title {
	font-family: 'Architects Daughter', cursive;
	text-align: center;
  color: #FFFFFF;
  text-shadow: 4px 4px 30px #219fd9;
  font-size: 10vh;
}
#slogan {
	font-family: 'Architects Daughter', cursive;
	text-align: center;
  color: #219fd9;
  font-size: 4vh;
}

#contact {
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;

    position: absolute;
    top: 0;
    left: 100%;
    white-space: nowrap;
    font-size: 3.5vh;
}

#sociallinks {
    /*-webkit-transform: rotate(-90deg);
    -webkit-transform-origin: right top;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: right top;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: right top;
    -o-transform: rotate(-90deg);
    -o-transform-origin: right top;
    transform: rotate(-90deg);
    transform-origin: right top;*/

    position: absolute;
    top: 0;
    width:1.5em;
    padding-left: .5em;
    /* right: 100%; */
    white-space: nowrap;
}
#sociallinks img {
  margin-top:1.2em;
  width:100%;
}



/* bthj TODO: is this causing trouble? */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
