<fa-app class="full-screen" fa-perspective="{{modPerspective()}}"
    fa-pipe-to="resizeEventHandler">

  <ng-include src="'partials/includes/starfield.html'"></ng-include>

  <!-- fa-surface fa-size="[undefined, undefined]" fa-pipe-to="cubeTouchHandler">
  </fa-surface -->


  <fa-header-footer-layout>

    <!-- header -->
    <fa-surface fa-size="[undefined, 0]"></fa-surface>


    <!-- content -->

    <!-- fa-container-surface fa-options="mediaItemsContainerOptions" id="media-items-container" -->

      <!-- <fa-modifier> -->

        <!-- fa-translate with z=2 to bring the grid abover the backgrouns -->
        <fa-modifier fa-translate="gridTranslator.get()">
          <fa-modifier id="media-items-grid"
              fa-origin="[.5, .5]"
              fa-align="[.5, .5]"
              fa-size="[undefined, undefined]"
              fa-rotate="gridRotator.get()"
              fa-scale="gridScale.get()">
            <!-- fa-grid-layout fa-options="mediaItemsGridLayoutOptions" -->

              <fa-modifier ng-repeat="oneItem in selectedMediaItems"
                  fa-origin="mediaItemAligns[$index]"
                  fa-align="[0, 0]"
                  fa-translate="mediaItemTranslators[$index].get()"
                  fa-rotate="mediaItemRotators[$index].get()"
                  fa-opacity="mediaItemOpacitators[$index].get()"
                  fa-transform-order="['translate', 'rotate', 'opacity']"
                  fa-size="mediaItemSizes[$index]">

<!-- image surface
                <fa-image-surface
                  fa-image-url="{{oneItem.mediaUrl}}" id="mediaitem-{{$index}}"
                  fa-pipe-to="cubeTouchHandler"
                  ng-show="mediaSurfacesShown"
                  fa-properties="{backfaceVisibility: 'hidden'}">
                </fa-image-surface>
-->

                <!-- fa-render-node fa-node="imageSurfaces[$index]"></fa-render-node -->
                <!-- BkImageSurface in a render node, for images with aspect fill: -->
                <!-- <fa-render-node fa-node="imageContainerSurfaces[$index]"
                  fa-pipe-to="cubeTouchHandler"
                  ng-show="mediaSurfacesShown"
                  fa-properties="{backfaceVisibility: 'hidden'}"
                  id="surface$index">
                </fa-render-node> -->

                <fa-surface ng-show="mediaSurfacesShown"
                    fa-properties="{zIndex: '5', backgroundImage: 'url({{oneItem.mediaUrl}})', backgroundSize: 'cover', backgroundRepeat: 'no-repeat', backgroundPosition: 'center center'}"
                    fa-pipe-to="cubeTouchHandler"
                    ng-click="maximizeMediaSurface($index)">

                  <div ng-if="oneItem.isPlayer && showPadlocks"
                      style="position:absolute; top: 30%; text-align:center; width:100%; height:100%; opacity:.6">
                    <ng-include src="'partials/includes/svgplay.html'"></ng-include>
                  </div>

                </fa-surface>


                <!-- iframe test -->
<!--
                <fa-image-surface
                    fa-image-url="http://pbs.twimg.com/profile_images/568047917450031104/3DGl47jT.png"
                    fa-properties="{backfaceVisibility: 'hidden'}"
                    fa-pipe-to="cubeTouchHandler"
                    ng-show="mediaSurfacesShown">
                </fa-image-surface>
                <fa-modifier ng-if="$index == 0">
                  <fa-surface
                      ng-show="mediaSurfacesShown">
                    <div style="left: 0px; width: 100%; height: 0px; position: relative; padding-bottom: 100%;"><iframe src="//player.vimeo.com/video/29667272" frameborder="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="top: 0px; left: 0px; width: 100%; height: 100%; position: absolute;"></iframe></div>
                  </fa-surface>
                </fa-modifier>
                <fa-modifier ng-if="$index == 1">
                  <fa-surface
                      ng-show="mediaSurfacesShown">
                      <div style="left: 0px; width: 100%; height: {{mediaItemSizes[$index][0]}}px; position: relative;"><iframe src="//iframe.ly/Ch7ifJ" frameborder="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="top: 0px; left: 0px; width: 100%; height: 100%; position: absolute;"></iframe></div>
                  </fa-surface>
                </fa-modifier>
                <fa-modifier ng-if="$index == 2">
                  <fa-surface
                      ng-show="mediaSurfacesShown">
                      <div style="max-width: 405px;"><div style="left: 0px; width: 100%; height: 0px; position: relative; padding-bottom: 100%;"><iframe src="//iframe.ly/y166yj" frameborder="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="top: 0px; left: 0px; width: 100%; height: 100%; position: absolute;"></iframe></div></div>
                  </fa-surface>
                </fa-modifier>
                <fa-modifier ng-if="$index == 3">
                  <fa-surface
                      ng-show="mediaSurfacesShown">
                      <div style="left: 0px; width: 100%; height: 0px; position: relative; padding-bottom: 100%;"><iframe src="//iframe.ly/JVgLmc" frameborder="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="top: 0px; left: 0px; width: 100%; height: 100%; position: absolute;"></iframe></div>
                  </fa-surface>
                </fa-modifier>
-->
                <!-- iframe test // END -->



                <!-- ... -->


                <!-- keyhole -->
                <fa-modifier ng-if="showKeyhole && $index == 0"
                    ng-init="keyHoleSize = mediaItemSizes[$index][0]/4"
                    fa-size="[keyHoleSize, keyHoleSize]"
                    fa-translate="[mediaItemSizes[$index][0]/2-keyHoleSize/2, keyHoleSize/8, 2]"
                    fa-opacity="keyholeOpacity">

                  <fa-surface
                      ng-click="goDeepInside()"
                      fa-tap="goDeepInside()"
                      ng-show="mediaSurfacesShown"
                      fa-properties="{zIndex: '6', cursor:'pointer'}">

                    <ng-include src="'partials/includes/svgkeyhole.html'"></ng-include>

                  </fa-surface>
                </fa-modifier>

                <!-- rocket -->
                <fa-modifier ng-if="showRocket && $index != 0"
                    ng-init="rocketSize = mediaItemSizes[$index][0]/4"
                    fa-size="[rocketSize, rocketSize]"
                    fa-translate="[mediaItemSizes[$index][0]/2-rocketSize/2, rocketSize/8, 2]"
                    fa-opacity="rocketOpacity">
                  <fa-surface
                      ng-click="sendCubeIntoSpace()"
                      fa-tap="sendCubeIntoSpace()"
                      ng-show="mediaSurfacesShown"
                      fa-properties="{zIndex: '6', cursor:'pointer'}">
                    <ng-include src="'partials/includes/svgrocket.html'"></ng-include>
                  </fa-surface>
                </fa-modifier>


                <!-- padlocks -->
                <fa-modifier ng-if="showPadlocks && !oneItem.held"
                    ng-init="padlockSize = mediaItemSizes[$index][0]/4"
                    fa-size="[padlockSize, padlockSize]"
                    fa-translate="[mediaItemSizes[$index][0]-padlockSize*1.2, mediaItemSizes[$index][0]-padlockSize*1.2, 2]"
                    fa-opacity="padlockOpacity">

                  <fa-surface
                      ng-click="toggleMediaSurfaceHold($index)"
                      fa-tap="toggleMediaSurfaceHold($index)"
                      ng-show="mediaSurfacesShown"
                      fa-properties="{zIndex: '6', cursor:'pointer'}">

                    <ng-include src="'partials/includes/padlock-open.html'"></ng-include>
                  </fa-surface>

                </fa-modifier>

                <fa-modifier ng-if="showPadlocks && oneItem.held"
                    ng-init="padlockSize = mediaItemSizes[$index][0]/4"
                    fa-size="[padlockSize, padlockSize]"
                    fa-translate="[mediaItemSizes[$index][0]-padlockSize*1.2, mediaItemSizes[$index][0]-padlockSize*1.2, 2]"
                    fa-opacity="padlockOpacity">

                    <fa-surface
                        ng-click="toggleMediaSurfaceHold($index)"
                        fa-tap="toggleMediaSurfaceHold($index)"
                        ng-show="mediaSurfacesShown"
                        fa-properties="{zIndex: '6', cursor:'pointer'}">

                      <ng-include src="'partials/includes/padlock-closed.html'"></ng-include>
                    </fa-surface>

                </fa-modifier>

                <!-- padlocks // END -->



                <!-- back side of the same media surface -->

                <fa-modifier fa-rotate-y="3.14159"
                    fa-origin="[0.5, 0.5]"
                    fa-align="[0.5, 0.5]">

                  <!-- <fa-image-surface ng-show="hatchInsideShown || $index != 0"
                      fa-image-url="img/heart_background_square.png"
                      fa-properties="{zIndex: '-5', backfaceVisibility: 'hidden'}">
                  </fa-image-surface> -->
                  <!-- fa-pipe-to="scrollDetailsEventHandler" -->
                  <!-- <fa-container-surface fa-options="backsideContainerSurfaceOptions"> -->
                    <!-- <fa-scroll-view fa-pipe-from="scrollDetailsEventHandler">
                      <fa-view> -->

                        <fa-modifier fa-size="detailSurfaceSize" fa-translate="[0,0,1]">
                          <fa-surface ng-show="hatchInsideShown || $index != 0"
                            fa-properties="{zIndex: {{backsideSurfaceZindex}}, textAlign: 'right', paddingRight: '.5em', fontSize: '4vh', backfaceVisibility: 'hidden', backgroundImage: 'url({{detailSurfaceBackgroundImage}})', backgroundSize: 'cover', backgroundRepeat: 'no-repeat'}"
                            fa-color="'black'">

                                <div style="z-index:{{backsideSurfaceZindex}}"
                                  ng-show="showFullScreenControls"
                                  ng-bind-html="detailSurfaceEmbed[$index]"></div>

                          </fa-surface>
                        </fa-modifier>

                      <!-- </fa-view>
                    </fa-scroll-view> -->
                  <!-- </fa-container-surface> -->



                  <!-- fullscreen controls -->

                  <!-- fullscreen padlocks -->
                  <fa-modifier ng-if="showFullScreenControls && !oneItem.held"
                      fa-size="[detailPadlockSize, detailPadlockSize]"
                      fa-translate="detailPadlockTranslation"
                      fa-opacity="padlockOpacity">
                    <fa-surface
                        fa-properties="{zIndex: '8'}"
                        ng-click="toggleMediaSurfaceHold($index)"
                        fa-tap="toggleMediaSurfaceHold($index)">

                      <ng-include src="'partials/includes/padlock-open.html'"></ng-include>

                    </fa-surface>
                  </fa-modifier>

                  <fa-modifier ng-if="showFullScreenControls && oneItem.held"
                      fa-size="[detailPadlockSize, detailPadlockSize]"
                      fa-translate="detailPadlockTranslation"
                      fa-opacity="padlockOpacity">
                    <fa-surface
                        fa-properties="{zIndex: '8'}"
                        ng-click="toggleMediaSurfaceHold($index)"
                        fa-tap="toggleMediaSurfaceHold($index)">

                      <ng-include src="'partials/includes/padlock-closed.html'"></ng-include>

                    </fa-surface>
                  </fa-modifier>


                  <!-- fullscreen collapse button -->
                  <fa-modifier ng-if="showFullScreenControls"
                      fa-size="[detailPadlockSize, detailPadlockSize]"
                      fa-translate="detailCollapseButtonTranslation">
                    <fa-surface
                        fa-properties="{zIndex: '8'}"
                        ng-click="demaximizeMediaSurface($index)"
                        fa-tap="demaximizeMediaSurface($index)">

                      <ng-include src="'partials/includes/collapse.html'"></ng-include>

                    </fa-surface>
                  </fa-modifier>



                  <!-- input surfaces -->

                  <!-- TextArea - message bottle -->

                  <!-- fa-proportions="[.95, .5]" -->
                  <!-- fa-translate="[0, -mediaItemSizes[$index][0]/8, 1]" -->
                  <fa-modifier ng-if="$index == 1"
                      fa-opacity="bottleMessageOpacitator.get()"
                      fa-proportions="[.95, .5]"
                      fa-translate="[0, mediaItemSizes[$index][0]/8, 3]">
                    <!-- fa-container-surface stop-event="touchend" -->
                      <!-- <fa-render-node fa-node="bottleMessage"
                        ng-show="showBottleMessage">
                      </fa-render-node> -->
                    <!-- /fa-container-surface -->
                    <fa-surface ng-show="showBottleMessage"

                        fa-color="'white'"
                        fa-properties="{zIndex: '3', paddingTop: '10px', textAlign: 'center'}">

                      <!-- <textarea name="textarea" id="bottlemessage" rows="10" cols="20" placeholder="Bottle message:"></textarea> -->

                      <input class="inbox" ng-model="message.inBottle" ng-change="updateBottleMessage()"
                        placeholder="Message..." type="text">

                    </fa-surface>
                  </fa-modifier>


                  <!-- tags -->
                  <fa-modifier ng-if="$index == 3 && insideSurfacesShown"
                      fa-translate="[0, 0, 3]"
                      fa-size="mediaItemSizes[$index]"
                      fa-opacity="metaInfoEntryOpacitator.get()">

                    <fa-container-surface fa-options="scrollContainerOptions">
                      <fa-scroll-view fa-pipe-from="scrollTagsEventHandler" id="tagEditScroll">
                        <fa-view fa-index="-2">
                          <fa-modifier fa-size="[undefined, 33]">
                            <fa-surface
                                fa-background-color="'darkgray'"
                                fa-color="'white'"
                                fa-properties="{textAlign: 'center'}"
                                fa-pipe-to="scrollTagsEventHandler">

                                Cube Keywords

                            </fa-surface>
                          </fa-modifier>
                        </fa-view>
                        <fa-view fa-index="-1">
                          <fa-modifier fa-size="[undefined, 50]">
                            <fa-flexible-layout fa-options="tagFlexLayoutOptions">
                              <fa-surface
                                  fa-background-color="'white'"
                                  fa-color="'gray'"
                                  fa-properties="{textAlign: 'center'}"
                                  fa-pipe-to="scrollTagsEventHandler">

                                <input ng-model="insideFormData.newTag"
                                    placeholder="enter a new #tag" type="text"
                                    ng-enter="addTag()">

                              </fa-surface>
                              <fa-surface
                                  fa-background-color="'white'"
                                  fa-color="'gray'"
                                  fa-properties="{textAlign: 'center', cursor: 'pointer', fontSize: '26px'}"
                                  ng-click="addTag()"
                                  fa-tap="addTag()"
                                  fa-pipe-to="scrollTagsEventHandler">

                                  &oplus;

                              </fa-surface>
                            </fa-flexible-layout>
                          </fa-modifier>
                        </fa-view>
                        <fa-view ng-repeat="(tagKey, tagValue) in cubeTags" fa-index="$index">
                          <fa-modifier
                              fa-size="[undefined, 33]">
                            <fa-flexible-layout fa-options="tagFlexLayoutOptions">
                              <fa-surface
                                  fa-background-color="'white'"
                                  fa-color="'gray'"
                                  fa-properties="{textAlign: 'center', paddingTop: '5px'}"
                                  fa-pipe-to="scrollTagsEventHandler">

                                  {{tagKey}}

                              </fa-surface>
                              <fa-surface
                                  fa-background-color="'white'"
                                  fa-color="'gray'"
                                  fa-properties="{textAlign: 'center', cursor: 'pointer', fontSize: '26px'}"
                                  ng-click="removeTag(tagKey)"
                                  fa-tap="removeTag(tagKey)"
                                  fa-pipe-to="scrollTagsEventHandler">

                                  &otimes;

                              </fa-surface>
                            </fa-flexible-layout>
                          </fa-modifier>
                        </fa-view>
                        <fa-view fa-index="99999999">
                          <fa-modifier fa-size="[undefined, 80]">
                            <fa-surface
                                fa-background-color="'white'"
                                fa-pipe-to="scrollTagsEventHandler">

                                &nbsp;

                            </fa-surface>
                          </fa-modifier>
                        </fa-view>
                      </fa-scroll-view>
                    </fa-container-surface>
                  </fa-modifier>


                  <!-- profile -->

                  <fa-modifier ng-if="$index == 5 && insideSurfacesShown"
                      fa-translate="[0, 0, 3]"
                      fa-size="mediaItemSizes[$index]"
                      fa-opacity="metaInfoEntryOpacitator.get()">

                    <fa-container-surface fa-options="scrollContainerOptions"
                        fa-pipe-to="scrollProfileEventHandler">
                      <fa-scroll-view fa-pipe-from="scrollProfileEventHandler" id="profileEditScroll">
                        <fa-view fa-index="-3">
                          <fa-modifier fa-size="[undefined, 33]">
                            <fa-surface
                                fa-background-color="'darkgray'"
                                fa-color="'white'"
                                fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                                Cube Creator Profile

                            </fa-surface>
                          </fa-modifier>
                        </fa-view>

                        <!-- gender -->
                        <fa-view fa-index="-2">
                          <fa-modifier fa-size="[undefined, 33]">
                            <fa-surface
                                fa-background-color="'white'"
                                fa-color="'gray'"
                                fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                              <em>Gender</em>

                            </fa-surface>
                          </fa-modifier>
                        </fa-view>
                        <fa-view fa-index="-1" ng-if="!profileGender.length">
                          <fa-modifier
                              fa-size="[undefined, 33]">
                            <fa-surface
                                fa-background-color="'white'"
                                fa-color="'gray'"
                                fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                              undefined

                            </fa-surface>
                          </fa-modifier>
                        </fa-view>
                        <fa-view ng-repeat="genderValue in profileGender" fa-index="$index">
                          <fa-modifier
                              fa-size="[undefined, 33]">
                            <fa-flexible-layout fa-options="tagFlexLayoutOptions">
                              <fa-surface
                                  fa-background-color="'white'"
                                  fa-color="'gray'"
                                  fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                                {{genderValue.$id || genderValue}}

                              </fa-surface>
                              <fa-surface
                                  fa-background-color="'white'"
                                  fa-color="'gray'"
                                  fa-properties="{textAlign: 'center', cursor: 'pointer', fontSize: '26px'}"
                                  ng-click="removeGender($index)"
                                  fa-tap="removeGender($index)">

                                &otimes;

                              </fa-surface>
                            </fa-flexible-layout>
                          </fa-modifier>
                        </fa-view>
                        <fa-view fa-index="100">
                          <fa-modifier
                              fa-size="[undefined, 70]">
                            <fa-flexible-layout fa-options="tagFlexLayoutOptions">
                              <fa-surface
                                  fa-background-color="'white'"
                                  fa-color="'gray'"
                                  fa-properties="{textAlign: 'center'}">

                                <select ng-model="insideFormData.gender"
                                    ng-change="addGender()">
                                  <option ng-repeat="oneGenderOption in onlineGenders">{{oneGenderOption.$id}}</option>
                                </select>
                                <br>
                                <input ng-model="insideFormData.customGender"
                                    placeholder="custom gender" type="text"
                                    ng-enter="addGender()">

                              </fa-surface>
                              <fa-surface
                                  fa-background-color="'white'"
                                  fa-color="'gray'"
                                  fa-properties="{textAlign: 'center', paddingTop: '10px', cursor: 'pointer', fontSize: '26px'}"
                                  ng-click="addGender()"
                                  fa-tap="addGender()">

                                &oplus;

                              </fa-surface>
                            </fa-flexible-layout>
                          </fa-modifier>
                        </fa-view>

                        <!-- looking for -->
                        <fa-view fa-index="101">
                          <fa-modifier fa-size="[undefined, 33]">
                            <fa-surface
                                fa-background-color="'white'"
                                fa-color="'gray'"
                                fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                              <em>Looking For</em>

                            </fa-surface>
                          </fa-modifier>
                        </fa-view>
                        <fa-view fa-index="102" ng-if="!profileLookingFor.length">
                          <fa-modifier
                              fa-size="[undefined, 33]">
                            <fa-surface
                                fa-background-color="'white'"
                                fa-color="'gray'"
                                fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                              nothing

                            </fa-surface>
                          </fa-modifier>
                        </fa-view>
                        <fa-view ng-repeat="oneLookingFor in profileLookingFor" fa-index="$index + 103">
                          <fa-modifier
                              fa-size="[undefined, 33]">
                            <fa-flexible-layout fa-options="tagFlexLayoutOptions">
                              <fa-surface
                                  fa-background-color="'white'"
                                  fa-color="'gray'"
                                  fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                                {{oneLookingFor.$id || oneLookingFor}}

                              </fa-surface>
                              <fa-surface
                                  fa-background-color="'white'"
                                  fa-color="'gray'"
                                  fa-properties="{textAlign: 'center', cursor: 'pointer', fontSize: '26px'}"
                                  ng-click="removeLookingFor($index)"
                                  fa-tap="removeLookingFor($index)">

                                &otimes;

                              </fa-surface>
                            </fa-flexible-layout>
                          </fa-modifier>
                        </fa-view>
                        <fa-view fa-index="200">
                          <fa-modifier
                              fa-size="[undefined, 70]">
                            <fa-flexible-layout fa-options="tagFlexLayoutOptions">
                              <fa-surface
                                  fa-background-color="'white'"
                                  fa-color="'gray'"
                                  fa-properties="{textAlign: 'center'}">

                                <select ng-model="insideFormData.lookingFor"
                                    ng-change="addLookingFor()">
                                  <option ng-repeat="oneLookingForOption in onlineLookingFor">{{oneLookingForOption.$id}}</option>
                                </select>
                                <br>
                                <input ng-model="insideFormData.customLookingFor"
                                    placeholder="other stuff" type="text"
                                    ng-enter="addLookingFor()">

                              </fa-surface>
                              <fa-surface
                                  fa-background-color="'white'"
                                  fa-color="'gray'"
                                  fa-properties="{textAlign: 'center', paddingTop: '10px', cursor: 'pointer', fontSize: '26px'}"
                                  ng-click="addLookingFor()"
                                  fa-tap="addLookingFor()">

                                &oplus;

                              </fa-surface>
                            </fa-flexible-layout>
                          </fa-modifier>
                        </fa-view>

                        <!-- relationship status -->
                        <fa-view fa-index="201">
                          <fa-modifier fa-size="[undefined, 33]">
                            <fa-surface
                                fa-background-color="'white'"
                                fa-color="'gray'"
                                fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                              <em>Relationship Status</em>

                            </fa-surface>
                          </fa-modifier>
                        </fa-view>
                        <fa-view fa-index="202" ng-if="!profileRelationships.length">
                          <fa-modifier
                              fa-size="[undefined, 33]">
                            <fa-surface
                                fa-background-color="'white'"
                                fa-color="'gray'"
                                fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                              won't tell

                            </fa-surface>
                          </fa-modifier>
                        </fa-view>
                        <fa-view ng-repeat="oneRelationship in profileRelationships" fa-index="$index + 203">
                          <fa-modifier
                              fa-size="[undefined, 33]">
                            <fa-flexible-layout fa-options="tagFlexLayoutOptions">
                              <fa-surface
                                  fa-background-color="'white'"
                                  fa-color="'gray'"
                                  fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                                {{oneRelationship.$id || oneRelationship}}

                              </fa-surface>
                              <fa-surface
                                  fa-background-color="'white'"
                                  fa-color="'gray'"
                                  fa-properties="{textAlign: 'center', cursor: 'pointer', fontSize: '26px'}"
                                  ng-click="removeRelationship($index)"
                                  fa-tap="removeRelationship($index)">

                                &otimes;

                              </fa-surface>
                            </fa-flexible-layout>
                          </fa-modifier>
                        </fa-view>
                        <fa-view fa-index="300">
                          <fa-modifier
                              fa-size="[undefined, 70]">
                            <fa-flexible-layout fa-options="tagFlexLayoutOptions">
                              <fa-surface
                                  fa-background-color="'white'"
                                  fa-color="'gray'"
                                  fa-properties="{textAlign: 'center'}">

                                <select ng-model="insideFormData.relationship"
                                    ng-change="addRelationship()">
                                  <option ng-repeat="oneRelationshipOption in onlineRelationships">{{oneRelationshipOption.$id}}</option>
                                </select>
                                <br>
                                <input ng-model="insideFormData.customRelationship"
                                    placeholder="other kind" type="text"
                                    ng-enter="addRelationship()">

                              </fa-surface>
                              <fa-surface
                                  fa-background-color="'white'"
                                  fa-color="'gray'"
                                  fa-properties="{textAlign: 'center', paddingTop: '10px', cursor: 'pointer', fontSize: '26px'}"
                                  ng-click="addRelationship()"
                                  fa-tap="addRelationship()">

                                &oplus;

                              </fa-surface>
                            </fa-flexible-layout>
                          </fa-modifier>
                        </fa-view>

                        <!-- sexual orientation -->
                        <fa-view fa-index="301">
                          <fa-modifier fa-size="[undefined, 33]">
                            <fa-surface
                                fa-background-color="'white'"
                                fa-color="'gray'"
                                fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                              <em>Orientation</em>

                            </fa-surface>
                          </fa-modifier>
                        </fa-view>
                        <fa-view fa-index="302" ng-if="!profileOrientation.length">
                          <fa-modifier
                              fa-size="[undefined, 33]">
                            <fa-surface
                                fa-background-color="'white'"
                                fa-color="'gray'"
                                fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                              a secret

                            </fa-surface>
                          </fa-modifier>
                        </fa-view>
                        <fa-view ng-repeat="oneOrientation in profileOrientation" fa-index="$index + 303">
                          <fa-modifier
                              fa-size="[undefined, 33]">
                            <fa-flexible-layout fa-options="tagFlexLayoutOptions">
                              <fa-surface
                                  fa-background-color="'white'"
                                  fa-color="'gray'"
                                  fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                                {{oneOrientation.$id || oneOrientation}}

                              </fa-surface>
                              <fa-surface
                                  fa-background-color="'white'"
                                  fa-color="'gray'"
                                  fa-properties="{textAlign: 'center', cursor: 'pointer', fontSize: '26px'}"
                                  ng-click="removeOrientation($index)"
                                  fa-tap="removeOrientation($index)">

                                &otimes;

                              </fa-surface>
                            </fa-flexible-layout>
                          </fa-modifier>
                        </fa-view>
                        <fa-view fa-index="400">
                          <fa-modifier
                              fa-size="[undefined, 70]">
                            <fa-flexible-layout fa-options="tagFlexLayoutOptions">
                              <fa-surface
                                  fa-background-color="'white'"
                                  fa-color="'gray'"
                                  fa-properties="{textAlign: 'center'}">

                                <select ng-model="insideFormData.orientation"
                                    ng-change="addOrientation()">
                                  <option ng-repeat="oneOrientationOption in onlineOrientation">{{oneOrientationOption.$id}}</option>
                                </select>
                                <br>
                                <input ng-model="insideFormData.customOrientation"
                                    placeholder="another angle" type="text"
                                    ng-enter="addOrientation()">

                              </fa-surface>
                              <fa-surface
                                  fa-background-color="'white'"
                                  fa-color="'gray'"
                                  fa-properties="{textAlign: 'center', paddingTop: '10px', cursor: 'pointer', fontSize: '26px'}"
                                  ng-click="addOrientation()"
                                  fa-tap="addOrientation()">

                                &oplus;

                              </fa-surface>
                            </fa-flexible-layout>
                          </fa-modifier>
                        </fa-view>

                        <fa-view fa-index="99999999">
                          <fa-modifier fa-size="[undefined, 80]">
                            <fa-surface
                                fa-background-color="'white'">

                                &nbsp;

                            </fa-surface>
                          </fa-modifier>
                        </fa-view>

                      </fa-scroll-view>
                    </fa-container-surface>

                  </fa-modifier>


                  <!-- location -->

                  <fa-modifier ng-if="$index == 4 && insideSurfacesShown"
                      fa-translate="[0, 0, 3]"
                      fa-size="mediaItemSizes[$index]"
                      fa-opacity="metaInfoEntryOpacitator.get()">

                    <fa-container-surface fa-options="scrollContainerOptions"
                        fa-pipe-to="scrollLocationEventHandler">
                      <fa-scroll-view fa-pipe-from="scrollLocationEventHandler">
                        <fa-view fa-index="-3">
                          <fa-modifier fa-size="[undefined, 33]">
                            <fa-surface
                                fa-background-color="'darkgray'"
                                fa-color="'white'"
                                fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                                Cube Location

                            </fa-surface>
                          </fa-modifier>
                        </fa-view>
                        <fa-view fa-index="-2" ng-if="!geolocationAddresses.length && !geoStatus.geolocationNotAvailable && !geoStatus.geolocationDenied">
                          <fa-modifier
                              fa-size="[undefined, mediaItemSizes[$index][0]]">
                            <fa-surface
                                fa-background-color="'white'"
                                fa-color="'gray'"
                                fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                              Fetching location info...
                              <br><br>
                              ^^ have you allowed this site to use your location in the browser?

                            </fa-surface>
                          </fa-modifier>
                        </fa-view>
                        <fa-view fa-index="-1" ng-if="geoStatus.geolocationNotAvailable">
                          <fa-modifier
                              fa-size="[undefined, mediaItemSizes[$index][0]]">
                            <fa-surface
                                fa-background-color="'white'"
                                fa-color="'gray'"
                                fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                              Your browser doesn't seem to be able to supply location information.

                            </fa-surface>
                          </fa-modifier>
                        </fa-view>
                        <fa-view fa-index="-1" ng-if="geoStatus.geolocationDenied">
                          <fa-modifier
                              fa-size="[undefined, mediaItemSizes[$index][0]]">
                            <fa-surface
                                fa-background-color="'white'"
                                fa-color="'gray'"
                                fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                              Allow access to your location, so this cube
                              has a higher chance of being seen by users  near you.
                              <br>
                              &circlearrowleft;
                              <br>
                              Reload in the browser to try again
                              <br>
                              &circlearrowright;

                            </fa-surface>
                          </fa-modifier>
                        </fa-view>

                        <fa-view ng-repeat="oneAddress in geolocationAddresses" fa-index="$index">
                          <fa-modifier
                              fa-size="[undefined, 50]">
                            <fa-flexible-layout fa-options="tagFlexLayoutOptions">
                              <fa-surface
                                  fa-background-color="'{{geoStatus.selectedAddressIndex == $index ? 'gray':'white'}}'"
                                  fa-color="'{{geoStatus.selectedAddressIndex == $index ? 'white':'gray'}}'"
                                  fa-properties="{textAlign: 'center', paddingTop: '5px', cursor: 'pointer'}"
                                  fa-pipe-to="scrollTagsEventHandler"
                                  ng-click="setAddressIndex($index)"
                                  fa-tap="setAddressIndex($index)">

                                {{oneAddress.formatted_address}}

                              </fa-surface>
                              <fa-surface
                                  fa-background-color="'{{geoStatus.selectedAddressIndex == $index ? 'gray':'white'}}'"
                                  fa-color="'{{geoStatus.selectedAddressIndex == $index ? 'white':'gray'}}'"
                                  fa-properties="{textAlign: 'center', cursor: 'pointer', fontSize: '26px'}"
                                  fa-pipe-to="scrollTagsEventHandler"
                                  ng-click="setAddressIndex($index)"
                                  fa-tap="setAddressIndex($index)">

                                {{geoStatus.selectedAddressIndex == $index ? '&check;':'&nbsp;'}}

                              </fa-surface>
                            </fa-flexible-layout>
                          </fa-modifier>
                        </fa-view>

                      </fa-scroll-view>
                    </fa-container-surface>

                  </fa-modifier>

                  <!-- input surfaces // END -->



                  <!-- grip surfaces -->

                  <!-- left grip surface -->
                  <fa-modifier ng-if="$index != 0"
                      fa-size="[gripSize.x, gripSize.y]"
                      fa-translate="[gripTranslations[$index].leftX, gripTranslations[$index].leftY, gripTranslations[$index].z]">
                    <fa-surface
                        ng-show="insideSurfacesShown"
                        fa-pipe-to="gripTouchHandler"
                        fa-properties="{zIndex: '4', backgroundImage: 'url(img/pattern-dots-square-grid-06.svg)', backgroundSize: '83%', cursor: 'grab', cursor: '-moz-grab', cursor: '-webkit-grab'}">

                    </fa-surface>
                  </fa-modifier>

                  <!-- icon grip surface -->
                  <fa-modifier ng-if="$index != 0"
                      fa-size="[gripIconSize.x, gripIconSize.y]"
                      fa-translate="[gripIconTranslations[$index].x, gripIconTranslations[$index].y, gripIconTranslations[$index].z]">
                    <fa-surface
                        ng-show="insideSurfacesShown"
                        fa-pipe-to="gripTouchHandler"
                        fa-properties="{zIndex: '4', textAlign: 'center', cursor: 'grab', cursor: '-moz-grab', cursor: '-webkit-grab'}">
                      <!-- ng-include ng-if="$index == 1" src="'partials/includes/messagebottle.html'"></ng-include -->
                      <!-- ng-include ng-if="$index == 1" src="'partials/includes/messagebottle-orig.html'"></ng-include -->

                      <span style="font-size: {{grabIconFontSize}}px; vertical-align: top;" ng-if="$index == 1">
                        {{message.charactersAvailable}}
                      </span>

                    </fa-surface>
                  </fa-modifier>

                  <!-- right grip surface -->
                  <fa-modifier ng-if="$index != 0"
                      fa-size="[gripSize.x, gripSize.y]"
                      fa-translate="[gripTranslations[$index].rightX, gripTranslations[$index].rightY, gripTranslations[$index].z]">
                    <fa-surface
                        ng-show="insideSurfacesShown"
                        fa-pipe-to="gripTouchHandler"
                        fa-properties="{zIndex: '4', backgroundImage: 'url(img/pattern-dots-square-grid-06.svg)', backgroundSize: '83%', cursor: 'grab', cursor: '-moz-grab', cursor: '-webkit-grab'}">

                    </fa-surface>
                  </fa-modifier>
                  <!-- grip surfaces // END -->

                </fa-modifier>

              </fa-modifier>

            <!-- /fa-grid-layout -->
          </fa-modifier> <!-- gridRotator -->
        </fa-modifier> <!-- gridTranslator -->


      <!-- </fa-modifier> -->

    <!-- /fa-container-surface -->


    <!-- footer -->
    <fa-surface fa-size="[undefined, 50]"></fa-surface>


  </fa-header-footer-layout>



<!--
  <fa-modifier fa-size="[100, 100]"
               fa-translate="[100, 150, 0]">
      <fa-surface fa-background-color="'#FA5C4F'"
                  fa-color="'white'"
                  fa-textAlign="center">
        Hello world
    </fa-surface>
  </fa-modifier>
-->

</fa-app>



<!-- header -->
<!-- fa-app class="full-screen" fa-perspective="0" style="width: 100%; height: 50px;">
  <fa-modifier
      fa-size="[undefined, 50]"
      fa-translate="[0, 0, 1000]"
      fa-origin="[0, 0]"
      fa-align="[0, 0]">

    <fa-surface fa-background-color="'#000'"
                fa-size="[undefined, 50]"
                fa-options="headerOptions">

      likes.play

    </fa-surface>

  </fa-modifier>
</fa-app -->

<!-- footer -->
<fa-app fa-perspective="0" style="width: 100%; height: 50px; position:absolute; bottom:0; left: 0; right: 0;">
  <!-- <fa-modifier fa-size="[undefined, 50]"> -->
    <fa-modifier
        fa-size="[undefined, 50]"
        fa-translate="[0, 0, 10]"
        fa-origin="[1, 1]"
        fa-align="[1, 1]">

        <fa-surface fa-background-color="'rgba(0, 0, 0, .66)'">
        </fa-surface>
        <fa-flexible-layout fa-options="buttonGridLayoutOptions">

          <fa-sequential-layout fa-options="{direction:0}">
            <fa-view fa-index="-1">
              <fa-modifier fa-size="[60, undefined]"
                  fa-opacity="rightFooterButton2.opacity.get()">
                <fa-surface
                    fa-color="'black'"
                    fa-background-color="'#e4f3fb'"
                    fa-options="footerLeftOptions"
                    ng-click="navigateToRoots()">

                  &#9668;

                </fa-surface>
              </fa-modifier>
            </fa-view>
            <fa-view ng-repeat="(networkKey, networkData) in activeNetworks" fa-index="$index">
              <fa-modifier fa-size="[60, undefined]"
                  fa-opacity="rightFooterButton2.opacity.get()">
                <fa-image-surface
                  fa-background-color="networkData.colour"
                  fa-image-url="{{networkData.image}}"
                  fa-options="{properties:{padding:'5px'}}">
                </fa-image-surface>
              </fa-modifier>
            </fa-view>
            <fa-view fa-index="100">
              <fa-modifier fa-proportions="[.7, 1]"
                  fa-opacity="rightFooterButton2.opacity.get()">
                <fa-surface
                    fa-options="{properties:{paddingTop:'15px', textAlign:'right'}}">

                  <input id="sliderFlowspeed" type="range" min="1" max="10" step=".01"
                    value="{{range.flowSpeed}}" ng-model="range.flowSpeed"
                    ng-change="mediaItemsFlowspeedChanged()"
                    style="width:90%; opacity: .2"/>

                </fa-surface>
              </fa-modifier>
            </fa-view>
          </fa-sequential-layout>

          <!-- <fa-view>
            <fa-modifier
                ng-show="rightFooterButton1.visible"
                fa-opacity="1"
                fa-size="[80, undefined]">
              <fa-surface fa-background-color="'#b58900'"
                  ng-click="rightFooterButton1.action(totalVisibleItems)"
                  fa-tap="rightFooterButton1.action(totalVisibleItems)"
                  fa-options="rightFooterButton1.options">
                {{rightFooterButton1.title}}
              </fa-surface>
            </fa-modifier>
          </fa-view> -->
          <fa-view>
            <fa-modifier
                ng-show="rightFooterButton2.visible"
                fa-size="[80, undefined]"
                fa-opacity="rightFooterButton2.opacity.get()"
                fa-translate="[0, 0, 2]">
              <!-- <fa-surface fa-background-color="'#cb4b16'"
                  fa-size="[80, undefined]"
                  ng-click="rightFooterButton2.action()"
                  fa-tap="rightFooterButton2.action()"
                  fa-options="rightFooterButton2.options">
                {{rightFooterButton2.title}}
              </fa-surface> -->
              <fa-surface fa-background-color="'#e4f3fb'" fa-properties="{zIndex: '8'}">
              </fa-surface>
              <fa-modifier fa-rotate-z="rightFooterButton2.rotator.get()"
                  fa-origin="[.5, .5]"
                  fa-align="[.52, .5]"
                  fa-opacity="rightFooterButton2.opacity.get()"
                  fa-translate="[0, 0, 2]">
                <fa-image-surface
                    ng-click="rightFooterButton2.action()"
                    fa-tap="rightFooterButton2.action()"
                    fa-options="{properties:{padding:'2px', cursor:'pointer'}}"
                    fa-image-url="img/like_cube.svg"
                    fa-properties="{zIndex: '9'}">
                </fa-surface>
              </fa-modifier>
            </fa-modifier>
          </fa-view>

        </fa-flexible-layout>

    </fa-modifier>
  <!-- </fa-modifier> -->
</fa-app>

<!-- <ng-include src="'partials/includes/feedback.html'"></ng-include> -->

<!--
<h2>likeBreeder</h2>

<br>

<div style="display:block; clear:both;">
  <button ng-click="selectItems(totalVisibleItems)"
    style="display: block; margin-left: auto; margin-right: auto;"
    ng-disabled="rollDisabled">
    &uarr; Roll &darr;
  </button>
  <br><br><br>
</div>

<div ng-repeat="oneItem in selectedMediaItems" ng-class="{selected: oneItem.held, findsimilar: oneItem.similar}" class="breedpic">
  <div style="margin:auto">
  <img ng_src="{{oneItem.mediaUrl}}">
  <br />

  <tags: <em style="word-break: break-word;"><span ng-repeat="tag in oneItem.tags">{{tag}},</span></em>

  <br />
  <button class='holdbutton' ng-click="oneItem.held = !oneItem.held;oneItem.similar=false;">
     Hold Image {{$index}}
  </button>
  <button class='holdbutton' ng-click="oneItem.similar = !oneItem.similar;oneItem.held=false;">
     Find Similar
  </button>
  </div>
</div>

<br><br><br><br><br>

<div style="display:block; clear:both;">
  <button ng-click="saveStrip()"
      style="display: block; margin-left: auto; margin-right: auto;"
      ng-disabled="saveDisabled">
    &hearts; save strip
  </button>
</div>
-->
