<fa-app class="full-screen" fa-perspective="1000" fa-pipe-to="resizeEventHandler">

    <ng-include src="'partials/includes/starfield.html'"></ng-include>

<!--
fa-translate="object.translator.get()"
fa-opacity="object.opacitator.get()">
-->
    <!-- <fa-modifier fa-translate="[0, 0, mediaSurfaceSize[0]]">
      <fa-surface
        fa-size="[undefined, undefined]">
      </fa-surface>
    </fa-modifier> -->

    <!-- fa-modifier fa-opacity=".8" fa-translate="[0, 0, 500]">
      <fa-surface
        fa-background-color="'green'"
        fa-size="[undefined,undefined]"
        fa-pipe-to="gripTouchHandler">
        qwperu qwpoeur qwepou qwpoeriu
      </fa-surface>
    </fa-modifier -->

    <fa-modifier ng-repeat="(objKey, object) in visibleCubes"
        fa-translate="object.translator.get()"
        fa-opacity="object.opacitator.get()">



      <fa-modifier
          fa-origin="[.5, .5]"
          fa-align="[.5, .5]"
          fa-size="[undefined, undefined]"
          fa-rotate="object.rotator.get()"
          fa-scale="object.scalator.get()">

          <!-- fa-surface
            ng-click="bringCubeToForeground(objKey)"
            fa-tap="bringCubeToForeground(objKey)"
            fa-background-color="'green'"
            fa-size="[undefined,undefined]"
            fa-translate="[0, 0, 2]">
            qwperu qwpoeur qwepou qwpoeriu
          </fa-surface -->



        <fa-modifier ng-repeat="oneItem in object.mediaItems"
            fa-origin="oneItem.origin"
            fa-align="[0, 0]"
            fa-translate="oneItem.translator.get()"
            fa-rotate="oneItem.rotator.get()"
            fa-transform-order="['translate', 'rotate', 'opacity']"
            fa-size="mediaSurfaceSize">

          <!-- <fa-render-node fa-node="oneItem.imageSurface"
            ng-show="mediaSurfacesShown || objKey != currentForegroundKey"
            fa-properties="{zIndex: {{objKey == currentForegroundKey ? '105':'-99'}}, backfaceVisibility: 'hidden'}"
            fa-pipe-to="cubeTouchHandler">
          </fa-render-node> -->
          <fa-image-surface
              ng-show="mediaSurfacesShown || objKey != currentForegroundKey"
              fa-image-url="{{oneItem.mediaUrl}}"
              fa-properties="{zIndex: {{objKey == currentForegroundKey ? '101':'-99'}}, backfaceVisibility: 'hidden'}"
              fa-pipe-to="cubeTouchHandler"
              ng-click="bringPickedCubeToForeground(objKey)"
              fa-tap="bringPickedCubeToForeground(objKey)">
          </fa-image-surface>
          <!-- <fa-surface>
            <a href="https://www.youtube.com/watch?v=awHWColYQ90" data-iframely-url="//iframe.ly/api/iframe?url=http%3A%2F%2Fringulr.bthj.is%2Fpost%2F114069685141&api_key=4dad98eeb233482b1564af" data-template="inline">bthj</a><script async src="https://cdn.iframe.ly/embed.js" charset="utf-8"></script>
          </fa-surface>
          <fa-surface
            fa-pipe-to="cubeTouchHandler"
            fa-background-color="'red'"
            fa-size="[undefined,100]">

          </fa-surface> -->
          <!-- <fa-surface
            fa-translate="[0, 0, 2]"
            ng-click="bringPickedCubeToForeground(objKey)"
            fa-tap="bringPickedCubeToForeground(objKey)">
          </fa-surface> -->

          <!-- keyhole -->
          <!-- && objKey == currentForegroundKey -->
          <fa-modifier ng-if="$index == 0"
              ng-init="keyHoleSize = mediaSurfaceSize[0]/4"
              fa-size="[keyHoleSize, keyHoleSize]"
              fa-translate="[mediaSurfaceSize[0]/2-keyHoleSize/2, keyHoleSize/8, 2]">

            <fa-surface
                ng-click="goDeepInside( objKey )"
                fa-tap="goDeepInside( objKey )"
                ng-show="mediaSurfacesShown"
                fa-properties="{zIndex: {{objKey == currentForegroundKey ? '105':'-99'}}}">

              <ng-include src="'partials/includes/svgkeyhole.html'"></ng-include>

            </fa-surface>
          </fa-modifier>

          <!-- back side of the same media surface -->
          <fa-modifier fa-rotate-y="3.14159"
              fa-origin="[0.5, 0.5]"
                fa-align="[0.5, 0.5]">

            <fa-modifier ng-if="insideSurfacesShown">
              <fa-image-surface ng-show="hatchInsideShown || $index != 0"
                  fa-image-url="img/heart_background_square.png"
                  fa-properties="{zIndex: {{objKey == currentForegroundKey ? '98':'-102'}}, backfaceVisibility: 'hidden'}">
              </fa-image-surface>
            </fa-modifier>



            <!-- wall info surfaces -->

            <!-- messages -->

            <fa-modifier ng-if="$index == 1 && insideSurfacesShown && objKey == currentForegroundKey"
                fa-translate="[0, 0, 1]"
                fa-size="mediaSurfaceSize">

              <fa-container-surface fa-options="{properties:{overflow:'hidden', zIndex: {{objKey == currentForegroundKey ? '99':'-101'}}}}"
                  fa-pipe-to="scrollMessagesEventHandler">
                <fa-scroll-view fa-pipe-from="scrollMessagesEventHandler">
                  <fa-view fa-index="-1">
                    <fa-modifier fa-size="[undefined, 200]">
                      <fa-surface fa-background-color="'white'"
                          fa-properties="{textAlign: 'center', cursor:'pointer'}"
                          ng-click="showUserCubes(object.author)"
                          fa-tap="showUserCubes(object.author)">

                        <br />
                        {{object.insideInformation.bottleMessage || '[&nbsp;&nbsp;&nbsp;]'}}
                        <br /><br />
                        <!-- <div ng-if="object.author.indexOf('facebook') == 0" id="qrcode{{objKey}}" class="qrcode-main-message">http://facebook.com/{{object.author.substring(object.author.indexOf(':')+1)}}</div>
                        <div ng-if="object.author.indexOf('twitter') == 0" id="qrcode{{objKey}}" class="qrcode-main-message">http://twitter.com/{{object.author.substring(object.author.indexOf(':')+1)}}</div>
                        <div ng-if="object.author.indexOf('google') == 0" id="qrcode{{objKey}}" class="qrcode-main-message">http://plus.google.com/{{object.author.substring(object.author.indexOf(':')+1)}}</div> -->
                        <div ng-if="object.author.indexOf('facebook') == 0"><img src="http://avatars.io/facebook/{{object.author.substring(object.author.indexOf(':')+1)}}" /></div>
                        <div ng-if="object.author.indexOf('twitter') == 0"><img src="http://avatars.io/twitter/{{object.author.substring(object.author.indexOf(':')+1)}}" /></div>
                        <div ng-if="object.author.indexOf('google') == 0">http://plus.google.com/{{object.author.substring(object.author.indexOf(':')+1)}}</div>
                        {{object.formatted_date}}

                        <br />
                        <!-- see http://www.amp-what.com/ -->
                        <!-- &backsim;&cir;&sim; -->
                        <img src="img/oneusercubes.svg" />
                        <br />
                      </fa-surface>
                    </fa-modifier>
                  </fa-view>
                  <fa-view ng-repeat="oneMessage in messages.foregroundCubePublicMessages | orderBy:'timestamp'" fa-index="$index">
                    <fa-modifier fa-size="[undefined, 200]">
                      <fa-surface fa-background-color="'white'"
                          fa-properties="{paddingTop: '5px', paddingLeft: '5px', textAlign:'center', cursor:'pointer'}"
                          ng-click="showUserCubes(oneMessage.from)"
                          fa-tap="showUserCubes(oneMessage.from)">

                        {{oneMessage.content}}
                        <br /><br />
                        <!-- <div ng-if="oneMessage.from.indexOf('facebook') == 0" id="qrcode{{oneMessage.$id}}" class="qrcode-main-message">http://facebook.com/{{oneMessage.from.substring(oneMessage.from.indexOf(':')+1)}}</div>
                        <div ng-if="oneMessage.from.indexOf('twitter') == 0" id="qrcode{{oneMessage.$id}}" class="qrcode-main-message">http://twitter.com/{{oneMessage.from.substring(oneMessage.from.indexOf(':')+1)}}</div>
                        <div ng-if="oneMessage.from.indexOf('google') == 0" id="qrcode{{oneMessage.$id}}" class="qrcode-main-message">http://plus.google.com/{{oneMessage.from.substring(oneMessage.from.indexOf(':')+1)}}</div> -->
                        <div ng-if="object.author.indexOf('facebook') == 0"><img src="http://avatars.io/facebook/{{oneMessage.from.substring(oneMessage.from.indexOf(':')+1)}}" /></div>
                        <div ng-if="object.author.indexOf('twitter') == 0"><img src="http://avatars.io/twitter/{{oneMessage.from.substring(oneMessage.from.indexOf(':')+1)}}" /></div>
                        <div ng-if="object.author.indexOf('google') == 0">http://plus.google.com/{{oneMessage.from.substring(oneMessage.from.indexOf(':')+1)}}</div>
                        {{oneMessage.formatted_date}}

                        <br />
                        <img src="img/oneusercubes.svg" />
                        <br />
                      </fa-surface>
                    </fa-modifier>
                  </fa-view>
                  <fa-view ng-if="!loggedIn" fa-index="999999">
                    <fa-modifier fa-size="[undefined, 200]">
                      <fa-surface fa-background-color="'white'"
                          fa-properties="{paddingTop: '5px', paddingLeft: '5px', textAlign:'center', cursor: 'pointer'}"
                          ng-click="navigateToRoots()"
                          fa-tap="navigateToRoots()">

                        &#9658; After exploring your likes you can post a message inside here &#9658;

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>
                  <fa-view ng-if="loggedIn" fa-index="999999">
                    <fa-modifier fa-size="[undefined, 200]">
                      <fa-surface fa-background-color="'white'"
                          fa-properties="{paddingTop: '5px', paddingLeft: '5px', textAlign:'center'}">

                        <textarea name="textarea" id="reply{{objKey}}" rows="10" cols="20" placeholder="To that you say:"></textarea>

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>
                  <fa-view fa-index="99999999">
                    <fa-modifier fa-size="[undefined, 80]">
                      <fa-surface
                          fa-background-color="'white'">

                          &nbsp;

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>
                </fa-scroll-view>
              </fa-container-surface>

            </fa-modifier>
            <!-- messages // END -->


            <!-- likes -->

            <fa-modifier ng-if="$index == 2 && insideSurfacesShown && objKey == currentForegroundKey"
                fa-translate="[0, 0, 1]"
                fa-size="mediaSurfaceSize"
                fa-rotate-z="3.141592653589793"> <!-- PI -->

              <fa-container-surface fa-options="{properties:{overflow:'hidden', zIndex: {{objKey == currentForegroundKey ? '99':'-101'}}}}"
                  fa-pipe-to="scrollLikesEventHandler">
                <fa-scroll-view fa-pipe-from="scrollLikesEventHandler">
                  <fa-view fa-index="-2">
                    <fa-modifier fa-size="[undefined, 33]">
                      <fa-surface
                          fa-background-color="'darkgray'"
                          fa-color="'white'"
                          fa-properties="{textAlign: 'center'}">

                          Cube Likes

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>
                  <fa-view fa-index="-1" ng-if="likes.hasLikedForegroundCube">
                    <fa-modifier fa-size="[undefined, 33]">
                      <fa-surface
                          fa-background-color="'white'"
                          fa-color="'gray'"
                          fa-properties="{textAlign: 'center', paddingTop:'5px', cursor:'pointer'}"
                          ng-click="unlikeCube(objKey, likes.hasLikedForegroundCube)"
                          fa-tap="unlikeCube(objKey, likes.hasLikedForegroundCube)">

                        Unlike

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>
                  <fa-view fa-index="-1" ng-if="!likes.hasLikedForegroundCube">
                    <fa-modifier fa-size="[undefined, 33]">
                      <fa-surface
                          fa-background-color="'white'"
                          fa-color="'gray'"
                          fa-properties="{textAlign: 'center', paddingTop:'5px', cursor:'pointer'}"
                          ng-click="likeCube(objKey)"
                          fa-tap="likeCube(objKey)">

                        Like

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>
                  <fa-view ng-repeat="oneLike in likes.foregroundCubeLikes | orderBy:'timestamp'" fa-index="$index">
                    <fa-modifier fa-size="[undefined, 200]">
                      <fa-surface
                          fa-background-color="'white'"
                          fa-color="'gray'"
                          fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                        <div ng-if="oneLike.from.indexOf('facebook') == 0" id="qrcode{{oneLike.$id}}" class="qrcode-main-message">http://facebook.com/{{oneLike.from.substring(oneLike.from.indexOf(':')+1)}}</div>
                        <div ng-if="oneLike.from.indexOf('twitter') == 0" id="qrcode{{oneLike.$id}}" class="qrcode-main-message">http://twitter.com/{{oneLike.from.substring(oneLike.from.indexOf(':')+1)}}</div>
                        <div ng-if="oneLike.from.indexOf('google') == 0" id="qrcode{{oneLike.$id}}" class="qrcode-main-message">http://plus.google.com/{{oneLike.from.substring(oneLike.from.indexOf(':')+1)}}</div>
                        {{oneLike.formatted_date}}

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>
                  <fa-view fa-index="99999999">
                    <fa-modifier fa-size="[undefined, 80]">
                      <fa-surface
                          fa-background-color="'white'">

                          &nbsp;

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>
                </fa-scroll-view>
              </fa-container-surface>

            </fa-modifier>
            <!-- likes // END -->


            <!-- tags -->
            <fa-modifier ng-if="$index == 3 && insideSurfacesShown && objKey == currentForegroundKey"
                fa-translate="[0, 0, 1]"
                fa-size="mediaSurfaceSize">

              <fa-container-surface fa-options="{properties:{overflow:'hidden', zIndex: {{objKey == currentForegroundKey ? '99':'-101'}}}}"
                  fa-pipe-to="scrollTagsEventHandler">
                <fa-scroll-view fa-pipe-from="scrollTagsEventHandler">
                  <fa-view fa-index="-2">
                    <fa-modifier fa-size="[undefined, 33]">
                      <fa-surface
                          fa-background-color="'darkgray'"
                          fa-color="'white'"
                          fa-properties="{textAlign: 'center'}">

                          Cube Keywords

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>
                  <fa-view ng-repeat="(tagKey, tagValue) in object.tags" fa-index="$index">
                    <fa-modifier
                        fa-size="[undefined, 33]">
                        <fa-surface
                            fa-background-color="'white'"
                            fa-color="'gray'"
                            fa-properties="{textAlign: 'center', paddingTop: '5px'}">

                            {{tagKey}}

                        </fa-surface>
                    </fa-modifier>
                  </fa-view>
                  <fa-view fa-index="99999999">
                    <fa-modifier fa-size="[undefined, 80]">
                      <fa-surface
                          fa-background-color="'white'">

                          &nbsp;

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>
                </fa-scroll-view>
              </fa-container-surface>

            </fa-modifier>
            <!-- tags // END -->


            <!-- profile -->

            <fa-modifier ng-if="$index == 5 && insideSurfacesShown && objKey == currentForegroundKey"
                fa-translate="[0, 0, 1]"
                fa-size="mediaSurfaceSize">

              <fa-container-surface fa-options="{properties:{overflow:'hidden', zIndex: {{objKey == currentForegroundKey ? '99':'-101'}}}}"
                  fa-pipe-to="scrollProfileEventHandler">
                <fa-scroll-view fa-pipe-from="scrollProfileEventHandler" id="profileEditScroll">
                  <fa-view fa-index="-3">
                    <fa-modifier fa-size="[undefined, 33]">
                      <fa-surface
                          fa-background-color="'darkgray'"
                          fa-color="'white'"
                          fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                          Cube Creator Profile

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>

                  <!-- gender -->
                  <fa-view fa-index="-2">
                    <fa-modifier fa-size="[undefined, 33]">
                      <fa-surface
                          fa-background-color="'white'"
                          fa-color="'gray'"
                          fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                        <em>Gender</em>

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>
                  <fa-view fa-index="-1" ng-if="!currentForegroundProfile.profileGender.length">
                    <fa-modifier
                        fa-size="[undefined, 33]">
                      <fa-surface
                          fa-background-color="'white'"
                          fa-color="'gray'"
                          fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                        undefined

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>
                  <fa-view ng-repeat="genderValue in currentForegroundProfile.profileGender" fa-index="$index">
                    <fa-modifier
                        fa-size="[undefined, 33]">
                      <fa-surface
                          fa-background-color="'white'"
                          fa-color="'gray'"
                          fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                        {{genderValue.$id || genderValue}}

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>

                  <!-- looking for -->
                  <fa-view fa-index="101">
                    <fa-modifier fa-size="[undefined, 33]">
                      <fa-surface
                          fa-background-color="'white'"
                          fa-color="'gray'"
                          fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                        <em>Looking For</em>

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>
                  <fa-view fa-index="102" ng-if="!currentForegroundProfile.profileLookingFor.length">
                    <fa-modifier
                        fa-size="[undefined, 33]">
                      <fa-surface
                          fa-background-color="'white'"
                          fa-color="'gray'"
                          fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                        nothing

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>
                  <fa-view ng-repeat="oneLookingFor in currentForegroundProfile.profileLookingFor" fa-index="$index + 103">
                    <fa-modifier
                        fa-size="[undefined, 33]">
                      <fa-surface
                          fa-background-color="'white'"
                          fa-color="'gray'"
                          fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                        {{oneLookingFor.$id || oneLookingFor}}

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>

                  <!-- relationship status -->
                  <fa-view fa-index="201">
                    <fa-modifier fa-size="[undefined, 33]">
                      <fa-surface
                          fa-background-color="'white'"
                          fa-color="'gray'"
                          fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                        <em>Relationship Status</em>

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>
                  <fa-view fa-index="202" ng-if="!currentForegroundProfile.profileRelationships.length">
                    <fa-modifier
                        fa-size="[undefined, 33]">
                      <fa-surface
                          fa-background-color="'white'"
                          fa-color="'gray'"
                          fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                        won't tell

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>
                  <fa-view ng-repeat="oneRelationship in currentForegroundProfile.profileRelationships" fa-index="$index + 203">
                    <fa-modifier
                        fa-size="[undefined, 33]">
                      <fa-surface
                          fa-background-color="'white'"
                          fa-color="'gray'"
                          fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                        {{oneRelationship.$id || oneRelationship}}

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>

                  <!-- sexual orientation -->
                  <fa-view fa-index="301">
                    <fa-modifier fa-size="[undefined, 33]">
                      <fa-surface
                          fa-background-color="'white'"
                          fa-color="'gray'"
                          fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                        <em>Orientation</em>

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>
                  <fa-view fa-index="302" ng-if="!currentForegroundProfile.profileOrientation.length">
                    <fa-modifier
                        fa-size="[undefined, 33]">
                      <fa-surface
                          fa-background-color="'white'"
                          fa-color="'gray'"
                          fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                        a secret

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>
                  <fa-view ng-repeat="oneOrientation in currentForegroundProfile.profileOrientation" fa-index="$index + 303">
                    <fa-modifier
                        fa-size="[undefined, 33]">
                      <fa-surface
                          fa-background-color="'white'"
                          fa-color="'gray'"
                          fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                        {{oneOrientation.$id || oneOrientation}}

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>

                  <fa-view fa-index="99999999">
                    <fa-modifier fa-size="[undefined, 80]">
                      <fa-surface
                          fa-background-color="'white'">

                          &nbsp;

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>

                </fa-scroll-view>
              </fa-container-surface>

            </fa-modifier>
            <!-- profile // END -->


            <!-- location -->

            <fa-modifier ng-if="$index == 4 && insideSurfacesShown && objKey == currentForegroundKey"
                fa-translate="[0, 0, 1]"
                fa-size="mediaSurfaceSize">
              <fa-container-surface fa-options="{properties:{overflow:'hidden', zIndex: {{objKey == currentForegroundKey ? '99':'-101'}}}}"
                  fa-pipe-to="scrollLocationEventHandler">
                <fa-scroll-view fa-pipe-from="scrollLocationEventHandler">
                  <fa-view fa-index="0">
                    <fa-modifier fa-size="[undefined, 33]">
                      <fa-surface
                          fa-background-color="'darkgray'"
                          fa-color="'white'"
                          fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                        Cube Location

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>
                  <fa-view fa-index="1" ng-if="!object.insideInformation.location">
                    <fa-modifier
                        fa-size="[undefined, mediaSurfaceSize[0]/2]">
                      <fa-surface
                          fa-background-color="'white'"
                          fa-color="'gray'"
                          fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                        <!-- This cube was not geographically located. -->
                        <em>Physical:</em>
                        <br>
                        Unknown.

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>
                  <fa-view fa-index="1" ng-if="object.insideInformation.location">
                    <fa-modifier
                        fa-size="[undefined, mediaSurfaceSize[0]/2]">
                      <fa-surface
                          fa-background-color="'white'"
                          fa-color="'gray'"
                          fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                        <br>
                        <em>Physical:</em>
                        <br>
                        <a href="http://www.google.com/maps/place/{{object.insideInformation.location.latLng[0]}},{{object.insideInformation.location.latLng[1]}}/@{{object.insideInformation.location.latLng[0]}},{{object.insideInformation.location.latLng[1]}},12z" target="_blank">
                          {{object.insideInformation.location.address}}
                        </a>

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>
                  <fa-view fa-index="2">
                    <fa-modifier
                        fa-size="[undefined, mediaSurfaceSize[0]/2]">
                      <fa-surface
                          fa-background-color="'white'"
                          fa-color="'gray'"
                          fa-properties="{textAlign: 'center', paddingTop:'5px'}">

                        <em>Virtual:</em>
                        <br>
                        <a href="{{hostURL}}/corral/{{objKey}}">
                          {{hostURL}}/{{objKey}}
                        </a>

                      </fa-surface>
                    </fa-modifier>
                  </fa-view>
                </fa-scroll-view>
              </fa-container-surface>
            </fa-modifier>
            <!-- location // END -->

            <!-- wall info surfaces // END -->



            <!-- grip surfaces -->

            <!-- left grip surface -->
            <fa-modifier ng-if="$index != 0 && insideSurfacesShown"
                fa-size="[gripSize.x, gripSize.y]"
                fa-translate="[gripTranslations[$index].leftX, gripTranslations[$index].leftY, gripTranslations[$index].z]">
              <fa-surface
                  fa-pipe-to="gripTouchHandler"
                  fa-size="[undefined, undefined]"
                  fa-properties="{backgroundImage: 'url(img/pattern-dots-square-grid-06.svg)', backgroundSize: '83%', cursor: 'grab', cursor: '-moz-grab', cursor: '-webkit-grab', zIndex: {{objKey == currentForegroundKey ? '100':'-100'}}}">
              </fa-surface>
            </fa-modifier>

            <!-- icon grip surface -->
            <fa-modifier ng-if="$index != 0 && insideSurfacesShown"
                fa-size="[gripIconSize.x, gripIconSize.y]"
                fa-translate="[gripIconTranslations[$index].x, gripIconTranslations[$index].y, gripIconTranslations[$index].z]">
              <fa-surface
                  fa-pipe-to="gripTouchHandler"
                  fa-properties="{textAlign: 'center', cursor: 'grab', cursor: '-moz-grab', cursor: '-webkit-grab', zIndex: {{objKey == currentForegroundKey ? '100':'-100'}}}">
                <!-- ng-include ng-if="$index == 1" src="'partials/includes/messagebottle.html'"></ng-include -->
                <!-- ng-include ng-if="$index == 1" src="'partials/includes/messagebottle-orig.html'"></ng-include -->

                <span style="font-size: {{grabIconFontSize}}px; vertical-align: top;" ng-if="$index == 1">
                  {{bottleMessageCharactersAvailable}}
                </span>

              </fa-surface>
            </fa-modifier>

            <!-- right grip surface -->
            <fa-modifier ng-if="$index != 0 && insideSurfacesShown"
                fa-size="[gripSize.x, gripSize.y]"
                fa-translate="[gripTranslations[$index].rightX, gripTranslations[$index].rightY, gripTranslations[$index].z]">
              <fa-surface
                  fa-pipe-to="gripTouchHandler"
                  fa-properties="{backgroundImage: 'url(img/pattern-dots-square-grid-06.svg)', backgroundSize: '83%', cursor: 'grab', cursor: '-moz-grab', cursor: '-webkit-grab', zIndex: {{objKey == currentForegroundKey ? '100':'-100'}}}">
              </fa-surface>
            </fa-modifier>
            <!-- grip surfaces // END -->

          </fa-modifier>

        </fa-modifier>

      </fa-modifier>

    </fa-modifier>



</fa-app>




<!-- footer -->
<fa-app fa-perspective="0" style="width: 100%; height: 50px; position:absolute; bottom:0; left: 0; right: 0;"
    ng-if="!isExhibition">

  <fa-modifier>

    <fa-surface fa-background-color="'rgba(0, 0, 0, .66)'">
    </fa-surface>

    <fa-flexible-layout fa-options="{ratios:[1, 1, 1]}">

      <fa-modifier
          fa-size="[undefined, 50]"
          fa-translate="[0, 0, 10]">

          <fa-sequential-layout fa-options="{direction:0}">
            <fa-view>
              <fa-modifier fa-size="[60, undefined]">

                  <fa-image-surface fa-background-color="'#e4f3fb'"
                      ng-click="navigateToFrontpage()"
                      fa-options="{properties:{padding:'8px', cursor:'pointer'}}"
                      fa-image-url="img/information.svg">
                  </fa-surface>

              </fa-modifier>
            </fa-view>
            <fa-view>
              <fa-modifier fa-size="[60, undefined]">

                  <fa-image-surface fa-background-color="'#e4f3fb'"
                      ng-click="navigateToBreeding()"
                      fa-options="{properties:{padding:'2px', cursor:'pointer'}}"
                      fa-image-url="img/like_cube.svg">
                  </fa-surface>

              </fa-modifier>
            </fa-view>
          </fa-sequential-layout>

        </fa-modifier>

        <fa-modifier
            fa-origin="[.5, 0]"
            fa-align="[.5, 0]">
          <fa-sequential-layout fa-options="{direction:0}" ng-if="cubeActionsEnabled">

            <!-- <fa-modifier fa-size="[60, undefined]" fa-opacity="cubeActionsOpacity.get()">
              <fa-image-surface fa-background-color="'#e4f3fb'"
                  ng-click="navigateToBreeding()"
                  fa-options="{properties:{padding:'8px', cursor:'pointer'}}"
                  fa-image-url="img/removeorhide.svg">
              </fa-surface>
            </fa-modifier> -->
            <fa-modifier fa-size="[60, undefined]" fa-opacity="cubeActionsOpacity.get()">
              <fa-image-surface fa-background-color="'#e4f3fb'"
                  ng-click="shareCurrentCube()"
                  fa-options="{properties:{padding:'10px', cursor:'pointer'}}"
                  fa-image-url="img/share.svg">
              </fa-surface>
            </fa-modifier>

          </fa-sequential-layout>
        </fa-modifier>

        <fa-modifier
            fa-size="[undefined, 50]">

          <fa-modifier
            fa-origin="[1, 0]"
            fa-align="[1, 0]">
            <fa-sequential-layout fa-options="{direction:0}">
              <fa-view ng-show="usercubes.oneusercubesVisible">
                <fa-modifier fa-size="[60, undefined]">

                    <fa-image-surface fa-background-color="'#ff8900'"
                        ng-click="navigateToBreeding()"
                        fa-options="{properties:{padding:'5px'}}"
                        fa-image-url="img/oneusercubes.svg">
                    </fa-surface>

                </fa-modifier>
              </fa-view>
              <fa-view>
                <fa-modifier fa-size="[60, undefined]">

                    <fa-image-surface fa-background-color="usercubes.mycubesBackgroundColor"
                        ng-click="showMyCubes()"
                        fa-options="{properties:{padding:'8px', cursor:'pointer'}}"
                        fa-image-url="img/mycubes.svg">
                    </fa-surface>

                </fa-modifier>
              </fa-view>
              <fa-view>
                <fa-modifier fa-size="[60, undefined]">

                    <fa-image-surface fa-background-color="usercubes.allcubesBackgroundColor"
                        ng-click="showAllCubes()"
                        fa-options="{properties:{padding:'8px', cursor:'pointer'}}"
                        fa-image-url="img/allcubes.svg">
                    </fa-surface>

                </fa-modifier>
              </fa-view>
            </fa-sequential-layout>
          </fa-modifier>

        </fa-modifier>

      </fa-flexible-layout>

    </fa-modifier>
</fa-app>


<ng-include src="'partials/includes/feedback.html'" ng-if="!isExhibition"></ng-include>
