<fa-app class="full-screen" fa-perspective="1000">

  <!-- <fa-surface>
    The green surface is now behind the red surface, even though transform-style: preserve-3d is set on .famous-angular-clipping-container in style.css, because now it's ensured that it also has a lower CSS z-index value, in sync with its Z transform.
  </fa-surface> -->

  <fa-view ng-repeat="surface in surfaces">


    <fa-modifier
        fa-size="[200, 200]"
        fa-translate="[$index*200+50, 50, 10]">
      <fa-modifier
        fa-origin="[.5, .5]"
        fa-align="[.5, .5]"
        fa-rotate="[0, -.8+(.5*$index), 0]">

         <fa-surface fa-background-color="surface.color"
            fa-properties="{zIndex: surface.zIndex, textAlign: 'right'}"
            ng-click="surfaceClick($index)">

          <div ng-bind-html="surface.embed"></div>

         </fa-surface>
         <!-- <fa-surface ng-click="surfaceClick($index)">
         </fa-surface> -->

       </fa-modifier>
    </fa-modifier>

  </fa-view>

</fa-app>

<!-- <div id="testembed"></div> -->
